
{% extends "main.html" %}

{% block content %}

{% include 'navbar2.html' %}

{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Reset Password - EMAIL SENT {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}

{% load crispy_forms_tags %}         

{% load static %}
<link rel="stylesheet" href=" {% static '/css/loginstyle.css' %} ">
<link rel="stylesheet" href=" {% static '/css/change_passwordstyle.css' %} ">


<!--Register--> 
<section class="Form my-3 mx-5" style="margin-left: 140px;">
  <div class="container">
    <div class="row" style="margin-top: 50px;">
    <!-- responsive form -->
      <div class="row no-gutters">
        <div class="col-md-5 colIMG mx-3 ms-4">
          <img
              src="\static\images\gradient_green.jpg"
              class="img-fluid my-3 mx-auto d-none d-md-block"
              style="width: 550px; height: 460px; border-radius: 20px;"
              alt="">
        </div>
          <div class="col-lg-6 px-xl-5" style="margin-top: 120px;">
            <h1 class="fs-1" style="font-weight: bold">Password successfully reset.</h1>
            <h6 class="fs-6 py-2 mb-5">Congratulations! Your password has been successfully reset. 
                You can now use your new password to log in to your account. 
            </h6>
      <!-- #message -->
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <div class="messages">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}