
{% extends "main.html" %}

{% block content %}


{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Reset Password Page {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}

{% load crispy_forms_tags %}         

{% load static %}
<link rel="stylesheet" href=" {% static '/css/loginstyle.css' %} ">
<link rel="stylesheet" href=" {% static '/css/change_passwordstyle.css' %} ">

<style data-tag="default-style-sheet">
  html {
    font-family: Inter;
  }


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


  <style>
    .alert {
    width: 58%;
  }
  
  @media (max-width: 768px) {
    .colIMG {
      height: 25%;
    }
  }
  
  input {
    width: 70%;
  }
  
  label {
    color: #000;
    margin-top: 10px;
  
  }
  

</style>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
  data-tag="font"
/>
<!--This is the head section-->
<!-- <style> ... </style> -->
</head>

<!--Register--> 
<section class="Form mt-5">
  <div class="container login-container">
    <!-- responsive form -->
    <div class="row no-gutters">
      <div class="col-md-5 colIMG text-white">
          <h2 class="fw-bold d-none d-lg-block" style="text-align: center; margin-top: 400px; margin-bottom: 20px;">
            Reset your Password
           </h2>
           <p class="d-none d-lg-block" style="text-align: center;">
            If you have any trouble resetting your password or accessing your account, please don't hesitate to contact 
            our <a href="{% url 'contact_form' %}#Contact-Map" style="color: yellow; text-decoration: none;">support team</a> for assistance.
          </p> 
        </div>
        <div class="col-md-6 pt-5 ms-md-5 colIMG-content1 text-center p-4">
            <h1 style="font-weight: bold; margin-top: 50px;">Reset Password</h1>
            <h6 class="fs-6 py-2 mb-5">Enter your email address below and we'll send you instructions on how to reset your password.</h6>
      <!-- #message -->
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <div class="messages">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <form method="POST">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form-row">
                <div class="col pt-4">
                  <button type="submit" class="btnlogin mt-1 mb-5">Send Email</button>
                </div>
              </div>
              <p class="mt-1">
                Already have an account?
                <a href="/login" class="link-bosyo">Click here to login.</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  {% include 'footer.html' %}
</section>

{% endblock %}