    html {
        font-family: Inter;
        font-size: 16px;
    }

    body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);
    }
    
    .about-img1 {
        width: 500px;
        height: 380px;
        border-radius: 20px;
    }
    .about-heading {
        /* color: #366567; */
        color: #008751;
    }
    .home-text07 {
        color: #000;
    }
    .about-sections {
        background-color: white;
        background-repeat: no-repeat;
        background-position: 30% 50%;
        width: 100%;
        display: flex;
        max-width: 1200px;
        align-items: center;
        padding-left: var(--dl-space-space-oneandhalfunits);
        padding-right: var(--dl-space-space-oneandhalfunits);
        flex-direction: column;
      }
      
    .imgAbout {
        width: 330px;
        height: auto;
        padding-top: 40px;
    }

    .ourservices1 {
        background-color: #fff;
        width: 100%;
        height: 900px;
        color: black;
      } 

      .checklist1 {
        border-radius: 35px;
        background-color: black;
        padding: 60px;
        max-width: 900px;
        height: 380px;
        margin: 0 auto;
        text-align: justify;
        margin-top: 100px;
        margin-bottom: 100px;
        background-image: url(/static/images/ourservices-1.png);
        background-repeat: no-repeat;
        background-position: 10% 87%;
        background-size: cover; 
      }
      @media (max-width: 767px) {
        .checklist1 {
          padding: 30px;
          max-width: 70%;
          background-color: #00dc84;
          background-position: 0% 0%;
        }
        .ourservices1 {
          height: 1100px;
        }
      }
      .checklist1 {
        column-count: 2;
        column-gap: 10px;
      }
      .ourservices-content1 {
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        line-height: 56px;
        text-align: center;
        padding-bottom: 20px;
        color: #000;
      }

      .about-section1 {
        width: 100%;
        display: flex;
        z-index: 10;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color: black;
        min-height: 70vh;
        margin-top: 120px;
      }
      