body {
    background-color: #11281f;
    background-image: url('/static/images/dashboard_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 100%;
  }