.card_payment {
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}  */

/* body {
--bs-primary: #008751;
--bs-primary-rgb: 0, 135, 81;
--bs-secondary: #1f1f1f;
--bs-secondary-rgb: 31, 31, 31;
--bs-success: #31f99d;
--bs-success-rgb: 49, 249, 157;
} */

#tfield_payment {
    width: 400px;
    padding: 40px;
}

/* .btn {
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #008751;
    color: white;
    border-radius: 4px;
    font-weight: bold;
} */


.card_payment {
    background: rgb(18, 18, 18);
}

.servicesUnderline {
    background-image: linear-gradient(120deg, #84fab0, #4bb2e694);
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-position: 0 100%;
    transition: background-size .25s ease-in;
    cursor: pointer;
}

.servicesUnderline:hover {
    background-size: 100% 100%;
    transition: .25s;
}

#id_HOA {
    width: 60%;
    text-align: center;
}

#id_Amount {
    border-radius: 40px;
    text-align: center;
    padding: 5px;
}