.servicesUnderline {
    background-image: linear-gradient(120deg, #84fab0, #4bb2e694);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 70% 100%;
    transition: background-size .25s ease-in;
    }

    .servicesUnderline2 {
      background-image: linear-gradient(120deg, #84fab0, #4bb2e694);
      background-repeat: no-repeat;
      background-size: 100% 30%;
      background-position: 20% 90%;
      transition: background-size .25s ease-in;
      }

    
  li {
    list-style-type: none;
  }

  .plateNum {
    font-family: 'Oswald', sans-serif;
    background: white; 
    border: 2px solid black; 
    width: 150px;
  }
  
  @media only screen and (max-width: 768px) {
    .plateNum {
      border: none;
    }
  }

  .imgTruck {
    border-radius: 30px;
    width: 400px;
    position: absolute;
  }

  section {
    margin-left: 140px;
  }

  .truckTable {
    margin-left: 160px;
  }

  #table1 {
    border-collapse: separate;
    border-spacing: 15px;
  }

  
.btnPayment {
  background-color: #161616;
  border-style: hidden;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  text-align: center;
}

.btnPayment:hover {
  background-color: white;
  border: 2px solid;
  color: black;
  transition: all 0.2s;
}