body {
  font-family: 'Montserrat', sans-serif;
}

.colIMG {
  position: static;
  text-align: center;
}

.servicesUnderline {
  background-image: linear-gradient(120deg, #84fab0, #4bb2e694);
  background-repeat: no-repeat;
  background-size: 100% .4em;
  background-position: 70% 100%;
  transition: background-size .25s ease-in;
}

.servicesUnderline2 {
  background-image: linear-gradient(120deg, #84fab0, #4bb2e694);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 70% 100%;
  transition: background-size .25s ease-in;
}

.paypal-balance {
  padding-top: 110px;
}

.col-2nd-pp {
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.paypal-container {
  margin-bottom: 50px;
}

.col-1st-pp {
  background-image: url(/static/images/gradient-green.png);
  background-size: cover;
  background-position: 0% 30%;
  background-color: #008751;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgb(84, 81, 81);
}

.td-payment {
  border-bottom: none;
}

.td-total {
  border-bottom: none;
  border-top: 1px;
}