{% extends "main.html" %}

{% block content %}

{% include 'sidebar.html' %}

{% load crispy_forms_tags %}         

{% load static %}
<link rel="stylesheet" href=" {% static '/css/loginstyle.css' %} ">
<link rel="stylesheet" href=" {% static '/css/change_passwordstyle.css' %} ">


{% comment %} Bosyo Home Logo {% endcomment %}
<section style="margin-left: 100px; margin-top: 20px;">
  <a href="{% url 'home'%}">
    <picture id="logo">
      <img
        src="\static\images\BosyoLogoClear.png"
        class="py-1 d-none d-lg-block mx-5"
        style="width: 174px; margin: 0px; padding: 0px">
      </picture>
  </a>
</section>

<!--Register--> 
<section class="Form my-3 mx-5" style="margin-left: 140px;">
  <div class="container">
    <div class="row" style="margin-top: 50px;">
    <!-- responsive form -->
      <div class="row no-gutters">
        <div class="col-md-5 colIMG mx-3 ms-4">
          <img
              src="\static\images\gradient_green.jpg"
              class="img-fluid my-3 mx-auto d-none d-md-block"
              style="width: 550px; height: 460px; border-radius: 20px;"
              alt="">
        </div>
          <div class="col-lg-6 px-xl-5">
            <h1 class="fs-1" style="font-weight: bold">Change Password</h1>
            <h6 class="fs-6 py-2 mb-5">Please enter your current password and a new password to update your account's security.</h6>
      <!-- #message -->
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <div class="messages">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="form-row">
                <div class="col-lg-10 pt-4">
                  <button type="submit" class="btnlogin mt-3 mb-3">Update</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}