{% extends "main.html" %}

<head>
{% block title %}Profile Page{% endblock title %}
{% block content %}

{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Charts Page {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} You can customize the look of each chart here. {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}

{% include 'sidebar.html' %}

    <title>Truck List</title>
    <meta name="description" content="List of Trucks">
    <meta name="keywords" content="Truck List">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script type="text/javascript" src="instascan.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href=" {% static '/css/chart_templatestyle.css' %} ">

</head>

<body class="
--bs-primary: #008751;
--bs-primary-rgb: 0, 135, 81;
--bs-secondary: #1f1f1f;
--bs-secondary-rgb: 31, 31, 31;
--bs-success: #31f99d;
--bs-success-rgb: 49, 249, 157;">


{% if messages %}
<div class="alert alert-danger mt-4" role="alert" style="width: 80%;" id="wrapper">
    <div class="messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
</div>
{% endif %}


  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% comment %} <h3>Attendance Chart</h3> {% endcomment %}
        {{ attendance_plot_div|safe }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% comment %} <h3>Truck Parts Chart</h3> {% endcomment %}
        {{ truck_parts_plot_div|safe }}
      </div>
    </div>
  </div>
<section>
    <div class="container">
        <div class="row">
          <div class="col w-50">
            {% comment %} headings col {% endcomment %}
            <div class="col-xxl-6" style="">
                <h2 class="fs-2 pb-3 pt-5" style="max-width: 500px;">Employee Attendance</h2>
                <p class="w-lg-50 text-muted">All attendance of employees will be recorded here.</p>
            </div>
        </div>
    </div>
</section>

{% comment %} charts {% endcomment %}
<section>
    <div class="container">
        <div class="row">
          <div class="col w-50">
            <div style="width:1000px;">
                <canvas id="bar-chart" class="my-5"></canvas>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
          <div class="col w-50">
            {% comment %} headings col {% endcomment %}
            <div class="col-xxl-6" style="">
                <h2 class="fs-2 pb-3" style="max-width: 500px;">Total Expenses of Each Truck</h2>
                <p class="w-lg-50 text-muted">Truck Maintenance Expenses will be recorded here.</p>
            </div>
        </div>
    </div>
</section>
    
<section>
    <div class="container">
        <div class="row">
          <div class="col w-50">
            <div style="width:1000px;">
                <canvas id="bar1-chart" class="my-5"></canvas>
            </div>
        </div>
    </div>
</section>
<section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

    var config = {
        type: 'bar',
        data: {
        datasets: [{
            data: {{ data1|safe }},
            backgroundColor: [
                'rgba(0, 0, 0, 1)',
                'rgba(0, 135, 81, .5)'
            ],
            borderColor: [
                'rgb(0, 0, 0)',
                'rgb(0, 135, 81)'
            ],
            label: 'Truck Expense'
            }],
            labels: {{ labels1|safe }}
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                        }
                    }],
        }
        }
    };

    {
        var ctx = document.getElementById('bar1-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };


    var config = {
        type: 'bar',
        data: {
        datasets: [{
            data: {{ data|safe }},
            backgroundColor: [
                'rgba(0, 0, 0, 1)',
                'rgba(0, 135, 81, .5)'
            ],
            borderColor: [
                'rgb(0, 0, 0)',
                'rgb(0, 135, 81)'
            ],
            label: 'Attendance Count'
        }],
        labels: {{ labels|safe }}
        },
        options: {
        scales: {
            yAxes: [{
            ticks: {
                beginAtZero: true
                    }
                }],
        }
        }
    };
    window.onload = function() {
        var ctx = document.getElementById('bar-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
    </script>


    
</body>

{% endblock content %}