


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script type="text/javascript" src="instascan.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <title>Analytics</title>
</head>


<style>
  /* this makes all content move right to show side bar properly */
  body {
    margin-left: 100px;
  }
</style>

{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is for the Charts {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} check the chart_template.html for more info {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}

<body>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Attendance Chart</h3>
      {{ attendance_plot_div|safe }}
    </div>
    <div class="col-md-6">
      <h3>Truck Parts Chart</h3>
      {{ truck_parts_plot_div|safe }}
    </div>
  </div>
</div>
  <div style="width:1000px;height:1000px">
    <canvas id="bar-chart"></canvas>
    </div>
    <div style="width:1000px;height:1000px">
      <canvas id="bar1-chart" ></canvas>
    </div>
    
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script>
    
        var config = {
          type: 'bar',
          data: {
            datasets: [{
              data: {{ data1|safe }},
              backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(255, 159, 64, 0.2)',
              'rgba(255, 205, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(201, 203, 207, 0.2)'
              ],
              borderColor: [
              'rgb(255, 99, 132)',
              'rgb(255, 159, 64)',
              'rgb(255, 205, 86)',
              'rgb(75, 192, 192)',
              'rgb(54, 162, 235)',
              'rgb(153, 102, 255)',
              'rgb(201, 203, 207)'
              ],
              label: 'Expenses'
            }],
            labels: {{ labels1|safe }}
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  callback: function(value, index, values) {
                    if (Math.floor(value) === value) {
                      return value.toString();
                    } else {
                      return null;
                    }
                  }
                }
              }]
            }
          }
        }
          
          
          
          
          
    
 {
          var ctx = document.getElementById('bar1-chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };


        var config = {
          type: 'bar',
          data: {
            datasets: [{
              data: {{ data|safe }},
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(201, 203, 207, 0.2)'
              ],
              borderColor: [
                'rgb(255, 99, 132)',
                'rgb(255, 159, 64)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)',
                'rgb(54, 162, 235)',
                'rgb(153, 102, 255)',
                'rgb(201, 203, 207)'
              ],
              label: 'Attendance'
            }],
            labels: {{ labels|safe }}
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  stepSize: 1, // add this line to set the step size to 1
                  callback: function(value, index, values) {
                    if (Math.floor(value) === value) {
                      return value.toString();
                    } else {
                      return null;
                    }
                  }
                }
              }]
            }
          }
        };
    
        window.onload = function() {
          var ctx = document.getElementById('bar-chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };
    









    

</body>


</html>

