{% extends "main.html" %}

<head>
{% block title %}Profile Page{% endblock title %}
{% block content %}

{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Charts Page {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} You can customize the look of each chart here. {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}

{% include 'sidebar.html' %}

    <title>Truck List</title>
    <meta name="description" content="List of Trucks">
    <meta name="keywords" content="Truck List">
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>
    <script type="text/javascript" src="instascan.min.js"></script>
    {% load static %}
    {% comment %} <link rel="stylesheet" href=" {% static '/css/chart_templatestyle.css' %} "> {% endcomment %}
    <link rel="stylesheet" href="{% static '/css/staffpagestyle.css' %}">
</head>

<style data-tag="default-style-sheet">
html {
    font-family: Inter;
}

.chart-border {
    border-radius: 10px !important;
    }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

</style>
  <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
  data-tag="font"
/>

<body class="
--bs-primary: #008751;
--bs-primary-rgb: 0, 135, 81;
--bs-secondary: #1f1f1f;
--bs-secondary-rgb: 31, 31, 31;
--bs-success: #31f99d;
--bs-success-rgb: 49, 249, 157;">


<section class="dashboard-section">
    <div class="container dashboard-container">
      {% comment %} Row Dashboard {% endcomment %}
        <div class="row">
        <div class="col-10 dashboard-content" style="margin-left: 110px;">
            <h1 class="fw-bold fs-1">
              Analytics
            </h1>     
            <h6 style="text-shadow: 2px 2px 3px #656565; margin-top: 40px;">
                Welcome to charts! This page provides a visual 
                representation of<br> important data and metrics to help you gain insights and make informed decisions.
              </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--
<section style="margin-left: 200px;">
    <div class="container mt-5">
        <div class="row">
        <div class="col-md-9">
            <div class="row mb-5">
                <div class="col-md-10">
                    {% comment %}<h3>Attendance Chart</h3>{% endcomment %}
                    <div id="attendance-chart" class="chart-border">{{ attendance_plot_div|safe }}</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-10">
                {% comment %}<h3>Truck Parts Chart</h3>{% endcomment %}
                {{ truck_parts_plot_div|safe }}
                </div>
            </div>
        </div>
        <div class="col" style="background-color: #000; width: 200px; height: 200px;">
            <div class="row">
                <h2 class="fw-bold">
                    <i class='bx bxs-truck'></i> {{truckCount}}
                </h2>
            </div>
        </div>
        </div>
    </div>
</section>
-->

<div class="container px-5">
    <div class="row">
        <div class="col-md-9" style="">
            <section>
                <div class="container position-relative">
                    {% comment %} Attendance Chart {% endcomment %}
                    <div class="row pt-5">
                        <div class="col mt-3">
                            <div id="attendance-chart" class="chart-border">
                                {{ attendance_plot_div|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        
            <section>
                <div class="container my-5">
                    {% comment %} Recent Transactions {% endcomment %}
                    <div class="col">
                        {{ truck_parts_plot_div|safe }}
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-3">
            <section class="category-section w-100 mt-5">
                <div class="container p-3" style="border: 1px solid #738386; border-radius: 20px;">
                    <div class="row">
                        <div class="category-heading">
                            <h1 class="fw-bold">
                                Categories
                            </h1>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col mb-4">
                            <h1>Total Expenses: P{{ totalExpenses }}</h1>
                        </div>
                        <div class="col mb-4">
                            
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>





<!--
<section>
    <div class="container">
        <div class="row">
          <div class="col w-50">
            {% comment %} headings col {% endcomment %}
            <div class="col-xxl-6" style="">
                <h2 class="fs-2 pb-3 pt-5" style="max-width: 500px;">Employee Attendance</h2>
                <p class="w-lg-50 text-muted">All attendance of employees will be recorded here.</p>
            </div>
        </div>
    </div>
</section>

{% comment %} charts {% endcomment %}
<section>
    <div class="container">
        <div class="row">
          <div class="col w-50">
            <div style="width:1000px;">
                <canvas id="bar-chart" class="my-5"></canvas>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">
        <div class="row">
          <div class="col w-50">
            {% comment %} headings col {% endcomment %}
            <div class="col-xxl-6" style="">
                <h2 class="fs-2 pb-3" style="max-width: 500px;">Total Expenses of Each Truck</h2>
                <p class="w-lg-50 text-muted">Truck Maintenance Expenses will be recorded here.</p>
            </div>
        </div>
    </div>
</section>
    
<section>
    <div class="container">
        <div class="row">
          <div class="col w-50">
            <div style="width:1000px;">
                <canvas id="bar1-chart" class="my-5"></canvas>
            </div>
        </div>
    </div>
</section>
<section>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>

    var config = {
        type: 'bar',
        data: {
        datasets: [{
            data: {{ data1|safe }},
            backgroundColor: [
                'rgba(0, 0, 0, 1)',
                'rgba(0, 135, 81, .5)'
            ],
            borderColor: [
                'rgb(0, 0, 0)',
                'rgb(0, 135, 81)'
            ],
            label: 'Truck Expense'
            }],
            labels: {{ labels1|safe }}
        },
        options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                        }
                    }],
        }
        }
    };

    {
        var ctx = document.getElementById('bar1-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };


    var config = {
        type: 'bar',
        data: {
        datasets: [{
            data: {{ data|safe }},
            backgroundColor: [
                'rgba(0, 0, 0, 1)',
                'rgba(0, 135, 81, .5)'
            ],
            borderColor: [
                'rgb(0, 0, 0)',
                'rgb(0, 135, 81)'
            ],
            label: 'Attendance Count'
        }],
        labels: {{ labels|safe }}
        },
        options: {
        scales: {
            yAxes: [{
            ticks: {
                beginAtZero: true
                    }
                }],
        }
        }
    };
    window.onload = function() {
        var ctx = document.getElementById('bar-chart').getContext('2d');
        window.myPie = new Chart(ctx, config);
    };
    </script>

-->
    
</body>

{% endblock content %}