{% extends "main.html" %}
{% block content %}


{% load static %}
<link rel="stylesheet" href=" {% static '/css/contact-form.css' %} ">

{% include 'navbar.html' %}

<style data-tag="reset-style-sheet">
    html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }

    .btnSubmit:hover {
        background-color: white;
        color: black;
        border: 2px solid;
        transition: all 0.2s;
    }

    textarea {
    max-width: auto; 
    min-height: 20%;
    max-height: 400px;
    }

    html {
        font-family: Inter;
        font-size: 16px;
      }
  
      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);
  
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
      }  

</style>

<body>

{% comment %} How it works {% endcomment %}
<div class="contact-process" style="padding-top: 130px;">
    <div class="ourservices-content">
      How it works
    </div>
    <div class="container ourservices-heading">
      Want to start connecting to us? We've made signing up with us as easy as possible. Follow these steps to join with us:
    </div>
      <div class="contact1">
        <div class="row">
            <h2 class="about-text07 text-white"><i class='bx bx-message-square-dots'></i> — Request for Proposal</h2>
        </div>
        <div class="row">
            <span class="highlight-text1">To get started, we will need your contact information so we can get in touch with you to discuss your waste management needs. 
                <ul class="my-4">
                    <li>&#10004; Organization Name</li>
                    <li>&#10004; Number of Homes in the Community</li>
                    <li>&#10004; Community Location</li>
                    <li>&#10004; Name of the Inquirer</li>
                    <li>&#10004; Contact Number</li>
                </ul>
                Once we have your information, we will work with you to develop a plan that fits your needs and budget. Rest assured that we value your time and privacy, 
                and we'll make the sign-up process as seamless and hassle-free as possible. So go ahead and fill out our contact form, and we'll be in touch soon!
            </span>
        </div>
        <div class="row">
            <a href="{% url 'contact_form' %}#faq" class="home-navlink1">
                <div class="contact-get-started mb-5">
                    <span class="home-sign-up fw-bold">Go to FAQs</span>
                </div>
            </a>
        </div>
      </div>
      <div class="container">
        <div class="row">
            <div class="col">
                <div class="contact2">
                    <div class="row">
                        <h2 class="home-text07"><i class='bx bxs-user-check'></i> — Log in</h2>
                    </div>
                    <div class="row">
                        <span class="highlight-text1">
                            After you've signed up with us and we've developed a waste management 
                            plan that fits your needs and budget, we will provide you with a login link and credentials.
                            <br><br>
                            Note that if you forget your password, you can click on the <a href="/password_reset" target="_blank" class="contact-link">"Forgot Password"</a> link and follow the prompts to reset your password. 
                            If you have any issues logging in, don't hesitate to contact our customer support team for assistance.
                        </span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="contact3">
                    <div class="row">
                        <h2 class="home-text07 text-white"><i class='bx bxs-badge-check'></i> — You're all set!</h2>
                    </div>
                    <div class="row">
                        <span class="highlight-text1">
                            Congratulations! You're all set to start your waste management journey with us. 
                            We're excited to work with you and help you manage your waste in a sustainable and cost-effective way. <br><br>Our team of experts 
                            will be with you every step of the way to ensure a seamless experience. Whether you need regular waste pickups, 
                        </span>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>


{% comment %} home FAQ {% endcomment %}
<div class="home-faq" id="faq">
    <div class="home-content08">
      <div class="home-header6">
        <div class="home-tag2">
          <span class="home-text67">
            <span>FAQ</span>
            <br />
          </span>
        </div>
        <div class="home-heading13">
          <h2 class="home-text70">Frequently Asked Questions</h2>
        </div>
      </div>
      <div class="home-rows">
        <div class="home-column3">
          <div class="Question">
            <span class="home-title1">
              How can I create an account?
            </span>
            <span class="home-description3">
              To create an account, please contact us directly. We only work with neighborhoods and HOA's to provide excellent pricing for organized residential
              areas. We'll need to get in touch with you to gather some important information, 
              such as your contact details and the location. This will help us to set up your account and provide 
              you with accurate pricing information based on your specific needs. 
            </span>
          </div>
          <div class="Question">
            <span class="home-title2">
              What areas do you service?
            </span>
            <span class="home-description4">
              <span>
                As a trusted provider of waste management solutions, 
                we offer efficient and reliable garbage collection and disposal services to a wide range of 
                cities and communities around Bacoor, Cavite. 
            </span>
          </div>
          <div class="home-question2 Question">
            <span class="home-title3">
              Do you accept cash payments for your service?
            </span>
            <span class="home-description5">
              We accept payments via credit card and PayPal, but if you prefer an alternative, we also accept payment via check. <br><br>
              Billing will be sent to the central organization (HOA). Our clients will be able to login online via our website.
              We believe in clear and transparent pricing, 
              so you always know exactly what you're paying for. If you have any billing questions, our team is always available to help.
            </span>
          </div>
          <div class="home-question2 Question">
            <span class="home-title3">
              Where should I place my garbage?
            </span>
            <span class="home-description5">
              In order to ensure that our waste management crew can efficiently and safely collect your trash, 
              we kindly request that you make sure your trash can is visible and unobstructed at all times. 
              This means that your trash can should be positioned in a location that is easily seen and easily accessible 
              without any obstacles or barriers in the way. <br><br>
              By doing so, you'll help us maintain a timely and reliable waste management service for you and your community.
            </span>
          </div>
        </div>
        <div class="home-column4">
          <div class="home-question3 Question">
            <span class="home-title4">
              Can I still use your services if I'm not a member of an HOA?
            </span>
            <span class="home-description6">
              Our services are exclusively available for Homeowners Association (HOA) members. This is because we work closely with HOAs to provide comprehensive waste management solutions tailored to their specific needs. 
              <br><br>If you're not currently a member of an HOA, we recommend contacting your local community association to inquire about joining.
            </span>
          </div>
          <div class="home-question4 Question">
            <span class="home-title5">
              What if I need to reschedule a collection?
            </span>
            <span class="home-description7">
              If you need to reschedule your garbage collection, please contact us as soon as possible so that we can make the necessary arrangements. 
              We understand that unexpected events can occur, and we strive to be as flexible as possible to accommodate our customers' needs.
            </span>
          </div>
          <div class="home-question5 Question">
            <span class="home-title6">
              What measures do you take to ensure environmentally responsible waste management?
            </span>
            <span class="home-description8">
              <span>
                We care about the environment and follow responsible waste management practices. 
                <br><br>We properly sort and dispose of waste according to local regulations, 
                and promote recycling to reduce waste. In addition, we have our own landfill to ensure proper disposal of garbage.
            </span>
          </div>
          <div class="home-question5 Question">
            <span class="home-title6">
              Do you accept construction debris?
            </span>
            <span class="home-description8">
              <span>
                We only accept household waste. 
                Please be advised that we are unable to accept any kind of construction debris, such as sheetrock, 
                shingles, tile, marble, concrete, and other similar materials.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

<section class="position-relative py-3 py-xl-5 google-maps" id="Contact-Map" style="margin-bottom: 140px;">
  <div class="container position-relative">
      <div class="row">
          <div class="col"><iframe allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCSequZoWaf8XWec9aURVtZWTk1IWJRkEw&amp;q=Bosyo+Garbage+Collector&amp;zoom=12" loading="lazy" width="100%" height="100%"></iframe></div>
          <div class="col-md-6 col-xl-4">
              <div>
                  <form class="p-3 p-xl-4" method="post">
                    {% csrf_token %}
                      <h3 class="fw-bolder text-center py-2">Let's talk.</h3>
                      <p class="mb-5" style="text-align: center; line-height: 1.5;">If you're interested in our services, please don't hesitate to contact us using the information provided below.</p>
                        <div>
                          <p class="fw-light mb-5" style="text-align: center; line-height: 1.5;"><span class="fw-bold">Phone Number:</span> +639062208025<br><span class="fw-bold">Email:</span> <a href="mailto:bosyogarbagecollector@gmail.com" style="color: darkgreen;" class="fw-normal">bosyogarbagecollector@gmail.com</a></p>
                        </div>
                        <p class="fw-bolder my-3">Name *</p>
                        <div class="mb-3"><input class="border-dark form-control" type="text" name="name" placeholder="Please enter your Full Name here."></div>
                        <p class="fw-bolder my-3">E-mail *</p>
                        <div class="mb-3"><input class="border-1 border-dark form-control" type="email" name="email" placeholder="Enter your email."></div>
                        <div class="mb-3"><textarea class="border-1 border-dark form-control" style="resize: none; overflow-y: scroll;" maxlength="3000" name="content" placeholder="Place here your thoughts, concerns, and inquiries. Maximum of 3000 characters." rows="10"></textarea></div>
                        <div class="mb-3"><button class="btnSubmit btn-dark fw-bolder" type="submit" style="height: 55px;width: 150px;">Submit!</button></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</section>  


<!--
 Bosyo Coverage Map 

<section class="position-relative py-4 py-xl-5" id="Contact-Map">
  <div class="d-none d-md-block position-absolute top-0 start-0 w-100"><iframe allowfullscreen="" frameborder="0" loading="lazy" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBES20bjKM0_lGG9GOA4BDPvjczYAfuzKo&amp;q=Bosyo+Garbage+Collector&amp;zoom=12" id="Contact-Us" width="100%" height="470px"></iframe></div>
  <div class="position-relative px-2 px-xl-5 py-5" style="pointer-events: none;">
      <div class="container position-relative">
          <div class="row">
              <div class="col-md-6 col-xl-5 col-xxl-4 offset-md-6 offset-xl-7 offset-xxl-8">
                  <div>
                      <form class="border rounded shadow p-3 p-md-4 p-lg-5" method="post" style="background: var(--bs-body-bg); pointer-events: all;">
                          {% csrf_token %}
                          <h3 class="fw-bolder text-center mb-3 fs-3">Let's talk.</h3>
                          <p style="text-align: center; margin-bottom: 30px;">If you're interested in our services, please don't hesitate to contact us using the information provided below.</p>
                          <p class="fw-light" style="text-align: center; margin-bottom: 40px;">Phone Number: 09062208025<br>Email: bosyogarbagecollector@gmail.com<br></p>
                          <p class="fw-bolder my-3">Name *</p>
                          <div class="mb-3"><input class="border-dark form-control" type="text" name="name" placeholder="Please enter your Full Name here."></div>
                          <p class="fw-bolder my-3">E-mail *</p>
                          <div class="mb-3"><input class="border-1 border-dark form-control" type="email" name="email" placeholder="Enter your email."></div>
                          <div class="mb-3"><textarea class="border-1 border-dark form-control" maxlength="2000" name="content" placeholder="Place here your thoughts, concerns, and inquiries. Maximum of 2000 characters." rows="6"></textarea></div>
                          <div class="mb-3"><button class="btnSubmit btn-dark fw-bolder" type="submit" style="height: 55px;width: 150px;">Submit!</button></div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
-->

    {% include 'footer.html' %}

    {% comment %} <script>
      if (window.location.href.indexOf("#Contact-Map") > -1) {
        document.getElementById("Contact-Map").style.display = "none";
      }
    </script> 
    

    Removed due to issues
    {% endcomment %}

</body>


{% endblock content %}