{% extends "main.html" %}
{% load static %}
{% block content %}

<body>
    <section class="position-relative py-4 py-xl-5">
        <div class="container position-relative">
            <div class="row">
                <div class="col"><iframe allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCSequZoWaf8XWec9aURVtZWTk1IWJRkEw&amp;q=Bosyo+Garbage+Collector&amp;zoom=12" loading="lazy" width="100%" height="100%"></iframe></div>
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            <h3 class="fw-bolder text-center mb-3">To avail our services, contact us here.</h3>
                            <p class="fw-light">Our contact information<br>Phone Number: 09062208025<br>Email: bosyogarbagecollector@gmail.com<br></p>
                            <p class="fw-bolder">Name *</p>
                            <div class="mb-3"><input class="border-dark form-control" type="text" name="name" placeholder="Enter your name here."></div>
                            <p class="fw-bolder">E-mail *</p>
                            <div class="mb-3"><input class="border-1 border-dark form-control" type="email" name="email" placeholder="Enter your email."></div>
                            <div class="mb-3"><textarea class="border-1 border-dark form-control" maxlength="2000" name="message" placeholder="Place here your thoughts, concerns, and inquiries. Maximum of 2000 characters." rows="6"></textarea></div>
                            <div class="mb-3"><button class="btn btn-primary fw-bolder bg-dark border rounded-0" type="submit" style="height: 55px;width: 150px;">Submit!</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock content %}