{% extends "main.html" %}

{% block title %}Profile Page{% endblock title %}
{% block content %}

{% include 'sidebar.html' %}

<style>
  body {
    margin-left: 90px;
    font-family: 'Montserrat', sans-serif;
  }


</style>

<body>

  <div class="container">
    <div class="row">
        <div class="col-md-12 text-start">
          <h2 class="fs-2 pb-3 ms-3 mt-3" style="max-width: 350px;">Monitor and view condition of your trucks</h2>
          <p class="w-lg-50 text-muted ms-3">All maintenance and repairs will be recorded here.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" style="width: 222.987px;">
          <div class="card" id="cardimg2" style="border-radius: 20px; background-color: rgb(255, 198, 198); width: 223.062px; height: 500px;">
            <div class="card-body p-4" style="height: 210px;">
              <p class="card-title pb-5">Total Expenses</p>
              <h5 class="card-text fs-5 mt-4"><span class="text-danger"><br><br>₱{{0}}</span> this week</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="width: 271.987px;"></div>
        <div class="col-md-4" style="width: 222.987px;"></div>
        <div class="col"></div>
    </div>
</div>


</body>

{% endblock content %}