{% extends "main.html" %}
{% load static %}
{% block content %}

<style>
    h4 {
        color: rgb(15, 106, 65);
        font-weight: 700;
    }



</style>

<body id="Home">
    <div id="header-bosyo-info">
        <div class="p-5 mb-4 round-3 position-relative">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-5 text-start fw-bold" id="Welcome">Helping keep your environment clean!</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="col-md-8 fs-4">Trusted Junk &amp; Garbage Hauling Services. Serving City of Bacoor, Cavite and surrounding areas since 2005. Bosyo Garbage Collector provides effective, thorough, and continuous waste collection services to our clients.<br></p>
                    </div>
                </div>
            </div>
            <div id="bgImage"></div>
        </div>
    </div>
    <!-- HR invi -->
    <div id="Our-Services" class="container">
        <div class="row">
            <div class="col-md-12">
                <hr size="10">
            </div>
        </div>
    </div>
    <!-- #servicesmiddle-->
    <div id="Services" class="container py-4 py-xl-5" style="height: 530px">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto"> 
                <h2 style="font-weight: bold;">Services we offer:</h2>
                <p class="w-lg-50">We continue to deliver waste disposal services that specialize in residential services. Our services include:
                </p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
            <div class="col">
                <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                    <div class="px-3">
                        <img src="\static\images\house_clean.jpg" style="width: 250px">
                            <h4>Household Waste</h4>
                        <p>We handle household wastes comprised of non-hazardous waste and hazardous waste. This can include food scraps, paper, bottles, batteries, etc.<br></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                    <div class="px-3"><img src="\static\images\HOA_clean2.jpg" style="width: 220px">
                        <h4>Community Residential Services: HOA</h4>
                        <p>We work with the homeowner's association (HOA) to keep a healthy and clean environment for the neighborhood.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-center d-flex flex-column align-items-center align-items-xl-center">
                    <div class="px-3"><img src="\static\images\recycle.jpg" style="width: 190px">
                        <h4>Residential Recycling</h4>
                        <p>Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner IMG -->
    <section class="py-4 py-xl-5">
        <div class="container">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <h2 class="fw-bold text-white mb-3">Care for the environment.</h2>
                            <p class="mb-4">Tincidunt laoreet leo, adipiscing taciti tempor. Primis senectus sapien, risus donec ad fusce augue interdum.</p>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        <img class="w-100 h-100 fit-cover" src="\static\images\HOA_img1.png">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Bosyo Coverage Map -->
    <section class="position-relative py-4 py-xl-5">
        <div class="d-none d-md-block position-absolute top-0 start-0 w-100 h-100"><iframe allowfullscreen="" frameborder="0" loading="lazy" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBES20bjKM0_lGG9GOA4BDPvjczYAfuzKo&amp;q=Bosyo+Garbage+Collector&amp;zoom=12" id="Contact-Us" width="100%" height="400"></iframe></div>
        <div class="position-relative px-2 px-xl-5 py-5">
            <div class="container position-relative">
                <div class="row">
                    <div class="col-md-6 col-xl-5 col-xxl-4 offset-md-6 offset-xl-7 offset-xxl-8">
                        <div>
                            <form class="border rounded shadow p-3 p-md-4 p-lg-5" method="post" style="background: var(--bs-body-bg);">
                                <h3 class="fw-bolder text-center mb-3">To avail our services, contact us here.</h3>
                                <p class="fw-light">Our contact information<br>Phone Number: 09062208025<br>Email: bosyogarbagecollector@gmail.com<br></p>
                                <p class="fw-bolder">Name *</p>
                                <div class="mb-3"><input class="border-dark form-control" type="text" name="name" placeholder="Enter your name here."></div>
                                <p class="fw-bolder">E-mail *</p>
                                <div class="mb-3"><input class="border-1 border-dark form-control" type="email" name="email" placeholder="Enter your email."></div>
                                <div class="mb-3"><textarea class="border-1 border-dark form-control" name="message" placeholder="Place here your thoughts, concerns, and inquiries. We would try to respond back as soon as possible." rows="6"></textarea></div>
                                <div class="mb-3"><button class="btn btn-primary fw-bolder bg-dark border rounded-0" type="submit" style="height: 55px;width: 150px;">Submit!</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
    <div>
        <!-- Footer -->
        <footer class="text-center bg-dark">
            <div class="container text-white py-4 py-lg-5">
                <ul class="list-inline">
                    <li class="list-inline-item me-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook text-light" style="width: 36px;height: 25px;" href="https://www.facebook.com/BosyoGarbageCollector">
                            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                        </svg></li>
                    <li class="list-inline-item"><a class="fw-lighter link-light" href="https://www.facebook.com/BosyoGarbageCollector">Visit Our Facebook Page here.</a></li>
                </ul>
                <p class="text-muted mb-0">Copyright © 2022 Bosyo Garbage Collector</p>
                <a class="btn btn-primary" role="button" style="margin: 15px;" href="{% url 'contact-form'%}">Testing Button: Editing</a>
            </div>
        </footer>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
</body>

    
{% endblock content %}