{% extends "main.html" %}
{% block content %}

<head>
{% load static %}
<link rel="stylesheet" href=" {% static '/css/index.css' %} ">

<style data-tag="reset-style-sheet">
    html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
  </style>
  <style data-tag="default-style-sheet">
    html {
      font-family: Inter;
      font-size: 16px;
    }

    body {
      font-weight: 400;
      font-style:normal;
      text-decoration: none;
      text-transform: none;
      letter-spacing: normal;
      line-height: 1.15;
      color: var(--dl-color-gray-black);
      background-color: var(--dl-color-gray-white);

    }
  </style>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
    data-tag="font"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
    data-tag="font"
  />
  <!--This is the head section-->
  <!-- <style> ... </style> -->
  <link rel="stylesheet" href="./style.css" />

</head>

{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Home Page {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}

{% include 'navbar.html' %}

<div>
    <div class="home-container">
      <div class="home-header">
        <div class="home-heading">
        </div>
        <div class="home-hero">
          <div class="home-content">
            <h1 class="home-title">
              Helping keep your enironment clean since 2005.
            </h1>
            <span class="home-caption">
                Bosyo Garbage Collector is a trusted junk & garbage hauling Service for Subdivisions. 
                Serving City of Bacoor, Cavite and surrounding areas.
            </span>
            {% comment %} About Us and Help buttons {% endcomment %}
            <div class="home-hero-buttons">
              <div class="home-io-btn">
                <i class='bx bxs-badge-check' style='font-size: 20px;'></i>
                <span class="home-caption1">About Us</span>
              </div>
              <div class="home-android-btn">
                <i class='bx bxs-help-circle' style='font-size: 20px;'></i>
                <span class="home-caption2">How to inquire?</span>
              </div>
            </div>
          </div>
          {% comment %} Images for the banner on home page {% endcomment %}
          {% comment %}
          <div class="home-images">
            <div class="home-column">
                <img src="\static\images\AboutUs.jpg" alt="" class="imgTruck" style="width: 300px; height: auto;">
            </div>
            <div class="home-column1">
              <img src="\static\images\AboutUs.jpg" alt="" class="imgTruck" style="width: 300px; height: auto;">
              <img src="\static\images\TruckYellow.png" alt="" class="imgTruck" style="width: 300px; height: auto;">
            </div>
            <div class="home-column2">
              <img src="\static\images\job-1.jpg" alt="" class="imgTruck" style="width: 300px; height: 200px;">
              <img src="\static\images\TruckYellow.png" alt="" class="imgTruck" style="width: 300px; height: auto;">
            </div>
          </div> 
            {% endcomment %}
        </div>
      </div>
      <div class="home-video">
        <div class="home-content01">
          <div class="home-header1">
            <h2 class="home-text">
              We value your time and prioritize convenience in managing your waste disposal needs.
            </h2>
          </div>
          <div class="home-video-container">
            {% comment %} Bootstrap Carousel {% endcomment %}
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="\static\images\job-1.jpg" class="d-block" alt="..." style="height: 540px; width: 950px;">
                </div>
                <div class="carousel-item">
                  <img src="\static\images\job-7.png" class="d-block" alt="..." style="height: 540px; width: 950px;">
                </div>
                <div class="carousel-item">
                  <img src="\static\images\job-6.png" class="d-block" alt="..." style="height: 540px; width: 950px;">
                </div>
                <div class="carousel-item">
                  <img src="\static\images\job-5.png" class="d-block" alt="..." style="height: 540px; width: 950px;">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
             
            <div class="home-heading-container">
              <div class="home-heading01">
                <span class="home-text01">
                    All transactions will be processed securely through PayPal.
                </span>
                <span class="home-text02">
                    You can pay with your PayPal account or with a credit card through PayPal's payment gateway. 
                    PayPal is a trusted and secure payment provider that offers buyer protection and fraud prevention. 
                    {% comment %} We do not store any payment information on our website, ensuring that your transaction details remain safe and secure. {% endcomment %}
                </span>
              </div>
              <div class="home-explore">
                <a href="https://www.paypal.com/ph/home"><span class="home-text03">Explore PayPal here -&gt;</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %} Features {% endcomment %}
      <div class="home-features">
        <div class="home-header2">
          <div class="home-tag">
            <span class="home-text16">What we offer</span>
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="home-heading03">
                <h2 class="home-text17">Benefits that you get using by availing our service:</h2>
                <span class="home-text18">
                    All of these features combine to make the garbage collection process more efficient and user-friendly for our clients, 
                    ultimately improving your experience and satisfaction with our services.
                </span>
              </div>
            </div>
            <div class="col-md-4">
            </div>
          </div>
        </div>
        <div class="home-feature-list">
          <div class="feature-feature">
            <i class='bx bxs-user-account' style='font-size: 50px;'></i>
            <div class="feature-content">
              <span class="feature-title"><span>Personal Account</span></span>
              <span class="feature-description">
                <span>
                  We offer an account system that allows you to 
                  check and pay your balances, providing a hassle free experience.
                </span>
              </span>
            </div>
          </div>
          <div class="feature-feature">
            <i class='bx bxl-paypal' style='font-size: 50px;'></i>
            <div class="feature-content">
              <span class="feature-title"><span>Verified Payments</span></span>
              <span class="feature-description">
                <span>
                  We accept payments via credit card and PayPal, 
                  making it convenient for you to pay for our services. 
                </span>
              </span>
            </div>
          </div>
          <div class="feature-feature">
            <i class='bx bxs-lock' style='font-size: 50px;'></i>
            <div class="feature-content">
              <span class="feature-title"><span>Safe Transactions </span></span>
              <span class="feature-description">
                <span>
                  We use advanced encryption technology to protect your transactions and making them safe and secure.
                </span>
              </span>
            </div>
          </div>
          <div class="feature-feature">
            <i class='bx bxs-face' style='font-size: 50px;'></i>
            <div class="feature-content">
              <span class="feature-title"><span>Customer Service</span></span>
              <span class="feature-description">
                <span>
                  We strive to provide excellent service and ensure your satisfaction with our payment processing system.
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>


      <div class="home-sections">
        <div class="home-section">
          <div class="home-image">
            <img src="\static\images\job-11.png" class="d-block" alt="..." style="margin-right: 50px; margin-top: 50px;">
            <div class="home-image-highlight">
              <span class="home-text04">
                <span>Be in the know with our offerings</span>
                <br />
              </span>
            </div>
          </div>
          <div class="home-content02">
            <h2 class="home-text07">Why choosing us is a good option</h2>
            <div class="highlight-highlight">
              <span class="highlight-text">
                <span>Over 30 subdivisions in Bacoor, Cavite have put their trust in our services.</span>
              </span>
              <span class="highlight-text1">
                <span>
                   Our team is dedicated to providing top-quality garbage collection and disposal solutions that meet the needs of our clients. 
                  Whether it's a small residential community or a large commercial development, we have the experience and expertise to get the job done right. 
                </span>
              </span>
            </div>
            <div class="highlight-highlight">
              <span class="highlight-text">
                <span>Our pricing is competitive and transparent, so you can be sure you're getting a fair deal.</span>
              </span>
              <span class="highlight-text1">
                <span>
                  We offer affordable rates for our services and believe in transparent pricing. 
                  You'll know exactly what you're paying for and can trust that you're getting a great deal for the high-quality service we provide.
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="home-section1">
          <div class="home-content03">
            <div class="home-heading02">
              <h2 class="home-text09">Keep track with all transactions</h2>
              <span class="home-text10">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt.
              </span>
            </div>
            <div class="home-content04">
              <div class="home-points">
                <div class="point-point">
                  <div class="point-check">
                    <svg viewBox="0 0 1024 1024" class="point-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                  </div>
                  <span class="point-text">
                    <span>Duis aute irure dolor in reprehenderit</span>
                  </span>
                </div>
                <div class="point-point">
                  <div class="point-check">
                    <svg viewBox="0 0 1024 1024" class="point-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                  </div>
                  <span class="point-text">
                    <span>Quis nostrud exercitation ullamco</span>
                  </span>
                </div>
                <div class="point-point">
                  <div class="point-check">
                    <svg viewBox="0 0 1024 1024" class="point-icon">
                      <path
                        d="M384 690l452-452 60 60-512 512-238-238 60-60z"
                      ></path>
                    </svg>
                  </div>
                  <span class="point-text">
                    <span>Reprehenderit qui in ea voluptate velit</span>
                  </span>
                </div>
              </div>
              <a href="index.html" class="home-navlink1">
                <div class="home-get-started">
                  <span class="home-sign-up">Get started now</span>
                </div>
              </a>
            </div>
          </div>
          <div class="home-image1"></div>
        </div>
      </div>
      <div class="home-banner-container">
        <div class="home-banner">
          <div class="home-overlay">
            <span class="home-text14">
              Begin your financial journey on finbest
            </span>
            <div class="home-book-btn">
              <span class="home-text15">Book a demo</span>
            </div>
          </div>
          <img
            alt="pastedImage"
            src="public/playground_assets/pastedimage-ylke.svg"
            class="home-pasted-image5"
          />
        </div>
      </div>
      {% comment %} Services {% endcomment %}


      {% comment %} home FAQ {% endcomment %}
      <div class="home-faq">
        <div class="home-content08">
          <div class="home-header6">
            <div class="home-tag2">
              <span class="home-text67">
                <span>FAQ</span>
                <br />
              </span>
            </div>
            <div class="home-heading13">
              <h2 class="home-text70">Frequently Asked Questions</h2>
            </div>
          </div>
          <div class="home-rows">
            <div class="home-column3">
              <div class="Question">
                <span class="home-title1">
                  What is sit amet, consectetur adipiscing elit, sed do?
                </span>
                <span class="home-description3">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Excepteur sint occaecat cupidatat non proident, sunt
                  in culpa qui officia deserunt mollit anim id est laborum.
                </span>
              </div>
              <div class="Question">
                <span class="home-title2">
                  What is sit amet, consectetur adipiscing elit, sed do?
                </span>
                <span class="home-description4">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                  </span>
                  <br />
                  <span>
                    tempor incididunt ut labore et dolore magna aliqua.
                    Excepteur sint occaecat
                  </span>
                </span>
              </div>
              <div class="home-question2 Question">
                <span class="home-title3">
                  What is sit amet, consectetur adipiscing elit, sed do?
                </span>
                <span class="home-description5">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna.
                </span>
              </div>
            </div>
            <div class="home-column4">
              <div class="home-question3 Question">
                <span class="home-title4">
                  What is sit amet, consectetur adipiscing elit, sed do?
                </span>
                <span class="home-description6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna.
                </span>
              </div>
              <div class="home-question4 Question">
                <span class="home-title5">
                  What is sit amet, consectetur adipiscing elit, sed do?
                </span>
                <span class="home-description7">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna.
                </span>
              </div>
              <div class="home-question5 Question">
                <span class="home-title6">
                  What is sit amet, consectetur adipiscing elit, sed do?
                </span>
                <span class="home-description8">
                  <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Excepteur sint occaecat cupidatat non proident,
                    sunt in culpa qui officia deserunt mollit anim id est
                    laborum.
                  </span>
                  <br />
                  <span>
                    tempor incididunt ut labore et dolore magna aliqua.
                    Excepteur sint occaecat
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="home-get-started1">
        <div class="home-content09">
          <div class="home-heading14">
            <h2 class="home-text77">Get started with Bosyo Garbage Collector now!</h2>
            <span class="home-text78">
              We believe in providing top-quality garbage collection and disposal services 
              that not only keep your surroundings clean and healthy, but also help protect the environment.
            </span>
          </div>
          <div class="home-hero-buttons1">
            <div class="home-io-btn1">
              <img
                alt="pastedImage"
                src="public/playground_assets/pastedimage-zmzg.svg"
                class="home-apple1"
              />
              <span class="home-caption6">Download for iOS</span>
            </div>
            <div class="home-android-btn1">
              <img
                alt="pastedImage"
                src="public/playground_assets/pastedimage-ld65.svg"
                class="home-android1"
              />
              <span class="home-caption7">Download for Android</span>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-footer">
        <div class="footer-content">
          <div class="footer-information">
            <div class="footer-heading">
              <img
                alt="pastedImage"
                src="/playground_assets/pastedimage-qqc.svg"
                class="footer-pasted-image"
              />
              <span class="footer-text">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
              </span>
            </div>
            <div class="footer-socials">
              <div class="social-social social-root-class-name">
                <img
                  alt="pastedImage"
                  src="/playground_assets/pastedimage-9nha.svg"
                  class="social-insider"
                />
              </div>
              <div class="social-social social-root-class-name1">
                <img
                  alt="pastedImage"
                  src="public/playground_assets/pastedimage-k0l6.svg"
                  class="social-insider"
                />
              </div>
              <div class="social-social social-root-class-name2">
                <img
                  alt="pastedImage"
                  src="public/playground_assets/pastedimage-ld65.svg"
                  class="social-insider"
                />
              </div>
            </div>
          </div>
          <div class="footer-links">
            <div class="footer-column">
              <span class="footer-header"><span>Solutions</span></span>
              <span class="footer-link">
                <span>Responsive Web Design</span>
              </span>
              <span class="footer-link01">
                <span>Responsive Prototypes</span>
              </span>
              <span class="footer-link02"><span>Design to Code</span></span>
              <span class="footer-link03">
                <span>Static Website Builder</span>
              </span>
              <span class="footer-link04">
                <span>Static Website Generator</span>
              </span>
            </div>
            <div class="footer-column1">
              <span class="footer-header1"><span>Company</span></span>
              <span class="footer-link05"><span>About</span></span>
              <span class="footer-link06"><span>Team</span></span>
              <span class="footer-link07"><span>News</span></span>
              <span class="footer-link08"><span>Partners</span></span>
              <span class="footer-link09"><span>Careers</span></span>
              <span class="footer-link10">
                <span>Press &amp; Media</span>
              </span>
            </div>
          </div>
        </div>
        <span class="footer-text1">
          <span>Copyright © 2022 Bosyo Garbage Collector.</span>
        </span>
      </div>
    </div>
  </div>


</section>
<!-- Bosyo Coverage Map -->
<section class="position-relative mt-5 py-4 py-xl-5">
    <div class="d-none d-md-block position-absolute top-0 start-0 w-100 h-100"><iframe allowfullscreen="" frameborder="0" loading="lazy" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBES20bjKM0_lGG9GOA4BDPvjczYAfuzKo&amp;q=Bosyo+Garbage+Collector&amp;zoom=12" id="Contact-Us" width="100%" height="400"></iframe></div>
    <div id="Contact-Map" class="position-relative px-2 px-xl-5 py-5">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-6 col-xl-5 col-xxl-4 offset-md-6 offset-xl-7 offset-xxl-8">
                    <div>
                        <form class="border rounded shadow p-3 p-md-4 p-lg-5" method="post" style="background: var(--bs-body-bg);">
                            {% csrf_token %}
                            <h3 class="fw-bolder text-center mb-3 fs-3">Want to know more? <span class="text-primary-color">Contact us</span> here.</h3>
                            <p class="fw-light">Our contact information<br>Phone Number: 09062208025<br>Email: bosyogarbagecollector@gmail.com<br></p>
                            <p class="fw-bolder mt-3">Name *</p>
                            <div class="mb-3"><input class="border-dark form-control" type="text" name="name" placeholder="Please enter your Full Name here."></div>
                            <p class="fw-bolder">E-mail *</p>
                            <div class="mb-3"><input class="border-1 border-dark form-control" type="email" name="email" placeholder="Enter your email."></div>
                            <div class="mb-3"><textarea class="border-1 border-dark form-control" maxlength="2000" name="content" placeholder="Place here your thoughts, concerns, and inquiries. Maximum of 2000 characters." rows="6"></textarea></div>
                            <div class="mb-3"><button class="btnSubmit btn-dark fw-bolder" type="submit" style="height: 55px;width: 150px;">Submit!</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
<div>
    <!-- Footer -->
    <footer class="text-center bg-dark">
        <div class="container text-white py-4 py-lg-5">
            <ul class="list-inline">
                <li class="list-inline-item me-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-facebook text-light" style="width: 36px;height: 25px;" href="https://www.facebook.com/BosyoGarbageCollector">
                    <!-- icon path -->
                        <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"></path>
                    </svg></li>
                <li class="list-inline-item"><a class="fw-lighter link-light" href="https://www.facebook.com/BosyoGarbageCollector" target="_blank">Visit Our Facebook Page here.</a></li>
            </ul>
            <p class="text-muted mb-0">Copyright © 2022 Bosyo Garbage Collector</p>
        </div>
    </footer>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/bs-init.js"></script>

</body>

{% endblock content %}