{% extends "main.html" %}

{% block content %}

{% include 'navbar2.html' %}

{% if page == 'login' %}

{% load static %}
<link rel="stylesheet" href=" {% static '/css/loginstyle.css' %} ">

<style>
  .alert {
  width: 58%;
}


</style>

{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Log in Page {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}

  <!-- New login form-->
  <section class="Form my-3 mx-5">
    <div class="container">
      <!-- responsive form -->
      <div class="row no-gutters">
        <div class="col-md-6 colIMG mx-3 ms-4">
          <img
              src="\static\images\gradient_green.jpg"
              class="img-fluid my-3 mx-auto d-none d-md-block"
              style="width: 550px; height: 460px; border-radius: 20px;"
              alt="">
        </div>
        <div class="col-lg-5 px-xl-2 pt-5">
          <h1 class="fw-bold fs-1">Login</h1>
          <h6 class="py-2"><span class="servicesUnderline">Sign in to your account.</span></h6>
          <!-- #message -->
          {% if messages %}
          <div class="alert alert-danger my-4" role="alert">
              <div class="messages">
                  {% for message in messages %}
                  {{ message }}
                  {% endfor %}
              </div>
          </div>
          {% endif %}

          <form method="post" action="">
            {% csrf_token %}
            <div class="form-row">
              <div class="col-lg-7">
                <input
                  type="email"
                  name="email"
                  placeholder="Enter your Email Address"
                  class="form-control my-3 p-2"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <input
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Enter your Password"
                  class="form-control my-3 p-2"
                />
              </div>
            </div>
            <div class="form-row">
              <div class="col-lg-7">
                <button type="submit" class="btnlogin mt-3 mb-5">Login</button>
              </div>
            </div>
            <p>
              Don't have an account yet?
              <a href="/#Contact-Map">Contact us to register.</a>
            </p>
            <p class="">
              Want to reset your password?
              <a href="/password_reset">Click here to reset.</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
</body>



{% endif %}

{% endblock content %}