{% extends "main.html" %}
{% load static %}
{% block content %}

{% include 'sidebar.html' %}

{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is Manual Payment {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}


{% load static %}
<link rel="stylesheet" href=" {% static '/css/dashboardstyle.css' %} ">
<link rel="stylesheet" href=" {% static '/css/manualpaymentstyle.css' %} ">

{% comment %} Bosyo Home Logo {% endcomment %}
<section style="margin-left: 100px; margin-top: 20px;">
    <a href="{% url 'home'%}">
      <picture id="logo">
        <img
          src="\static\images\BosyoLogoClear.png"
          class="py-1 d-none d-lg-block mx-5"
          style="width: 174px; margin: 0px; padding: 0px">
        </picture>
    </a>
  </section>

{% comment %} <div class="container pt-5">
    <div class="col-xl-10 col-xxl-5 mb-5 mt-5 px-4">
        <div class="card_payment card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mt-2 mb-4" id="tfield_payment">
                        <h4 class="text-light pb-2 fw-lighter">
                            Please type in the HOA representative:
                        </h4>
                        <input class="form-control" name="HOA" type="text" placeholder="Homeowners' Associations">
                    </div>

                    <div class="form-group mt-2 mb-2" id="tfield_payment">
                        <h4 class="text-light pb-2 fw-lighter">
                            Enter the amount to pay:
                        </h4>
                        <input class="form-control" name="Amount" type="text" placeholder="Total Amount">
                    </div>
                    
                    <div class="d-flex justify-content-end">
                        <div class="form-row">
                            <div class="col-lg-5">
                                <button type="submit" class="btn btn-transparent text-light">
                                    <span class="fw-bold">Submit </span><i class='bx bx-chevrons-right fs-2 align-middle'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> {% endcomment %}

{% if messages %}
<div class="alert alert-danger mt-4" role="alert" style="width: 80%;" id="wrapper">
    <div class="messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
</div>
{% endif %}

<section style="margin-left: 140px;">
    <div class="container pt-4">
      <div>
        <h1 class="fs-1 my-4" style="font-family: 'Montserrat', sans-serif;">Manual Payment</h1>
        <h6 class="fs-6">
          Here, you can <span class="servicesUnderline">update payments</span> manually if someone wishes to pay via check.
        </h6>
      </div>
      <div class="row">
        <div class="col-xl-11 py-5 my-5" style="border-radius: 20px; border: 2px solid; height: 440px;">
          <form method="post">
            {% csrf_token %}
            <div class="form-group mt-2 mb-4" id="">
              <h4 class="pb-2">
                Please select the HOA representative:
              </h4>
              {{ form.HOA }}
            </div>
  
            <div class="form-group mt-2 mb-2" id="">
              <h4 class="pb-2">
                Enter the amount to pay:
              </h4>
              {{ form.Amount }}
            </div>
            <div style="margin-top: 120px;">
              <div class="form-row">
                <div class="col-lg-5">
                  <button type="submit" class="btn">
                    <span class="fw-bold">Submit </span><i class='bx bx-chevrons-right fs-2 align-middle'></i>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  
  
  




{% endblock content %}
