

<style>

  </style>
  
  <nav class="navbar navbar-light navbar-expand-lg sticky-top bg-white py-3">
    <div class="container">
      <button
        data-bs-toggle="collapse"
        class="navbar-toggler"
        data-bs-target="#nav-contents"
      >
        <!-- responsive navigation bar -->
        <span class="visually-hidden">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-contents">
        <a href="{% url 'home'%}"
          ><picture id="logo"
            ><img
              src="\static\images\BosyoLogoClear.png"
              class="py-1 d-none d-lg-block mx-5"
              style="width: 174px; margin: 0px; padding: 0px" /></picture
        ></a>
        <ul class="navbar-nav mx-auto">
        </ul>
        
        <ul class="nav justify-content-center">
          <h6 class="my-3 px-2">
          <span
            class="text-dark navbar-text"
            style="font-style: italic"
            >Want to go back? Click the button to return</span
          >
          </h6>
          <a
            class="btnReturn btn-dark py-2 my-1 me-5"
            role="button"
            style="width: 80px; height: 40px"
            href="{% url 'home'%}"
            ><em>Home</em>
          </a
          >
        </ul>
      </div>
    </div>
  </nav>