{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the main Navigation bar for the Index page {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}

{% load static %}
<link rel="stylesheet" href=" {% static '/css/navbar.css' %} ">

<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
</style>

<body
  style="
    --bs-primary: #008751;
    --bs-primary-rgb: 0, 135, 81;
    --bs-secondary: #1f1f1f;
    --bs-secondary-rgb: 31, 31, 31;
    --bs-success: #31f99d;
    --bs-success-rgb: 49, 249, 157;
  "
>
  <nav class="navbar navbar-light navbar-expand-lg sticky-top bg-white py-4">
    <div class="container">
      <button
        data-bs-toggle="collapse"
        class="navbar-toggler"
        data-bs-target="#nav-contents"
      >
        <!-- responsive navigation bar -->
        <span class="visually-hidden">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="nav-contents">
        <a href="{% url 'home'%}"
          ><picture id="logo"
            ><img
              src="\static\images\BosyoLogoClear.png"
              class="py-1 d-none d-lg-block mx-5"
              style="width: 174px" /></picture
        ></a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item" id="home">
            <a
              class="nav-link active fs-5 fw-lighter"
              href="{% url 'home' %}"
              style="
                margin: 0px;
                text-align: center;
              "
              >Home</a>
          </li>
          <li
            class="nav-item fs-5 fw-lighter"
            id="services"
            style="
               
              text-align: center;
              margin: 0px;
            "
          >
            <a
              class="nav-link active fs-5 fw-lighter"
              href="{% url 'about' %}"
              style="
                text-align: center;
                margin: 0px;
              "
              >About Us</a
            >
          </li>
          <li
            class="nav-item fs-5 fw-lighter"
            id="contact-us"
            style="
              text-align: center;
              margin: 0px;
            "
          >
            <a
              class="nav-link active fs-5 fw-lighter"
              href="{% url 'contact_form' %}"
              style="
                text-align: center;
                margin: 0px;
              "
              >How to Join</a
            >
          </li>
          <li
            class="nav-item fs-5 fw-lighter"
            id="contact-us"
            style="
              text-align: center;
              margin: 0px;
            "
          >
            <a
              class="nav-link active fs-5 fw-lighter"
              href="{% url 'contact_form' %}#Contact-Map"
              style="
                 
                text-align: center;
                margin: 0px;
              "
              >Contact Us</a
            >
          </li>
          
          <!-- <li
            class="nav-item fs-5 fw-lighter"
            id="contact-us"
            style="
              font-family: Roboto, sans-serif;
               
              text-align: center;
              margin: 0px;
            "
          >
            <a
              class="nav-link active fs-5 fw-lighter d-none d-sm-block"
              href="/login"
              style="
                font-family: Roboto, sans-serif;
                 
                text-align: center;
                margin: 0px;
              "
              >Login</a
            > -->
          </li>
          <!-- show on resize LOGIN -->
          {% if user.is_authenticated %}
          <li
            class="nav-item fs-5 fw-lighter mx-auto"
            id="loginLG"
            style="
               
              text-align: center;
              margin: 0px;
            "
          >
            <a
              class="btn btn-dark mx-3 py-2 d-block d-sm-block d-xl-none"
              role="button"
              style="width: 150px; height: 40px"
              href="/profile"
              ><em>Go to WebApp</em></a
            >
          </li>
          <!-- show on resize LOGOUT -->
          {% else %}
          <li
            class="nav-item fs-5 fw-lighter mx-auto"
            id="loginLG"
            style="
               
              text-align: center;
              margin: 0px;
            "
          >
            <a
              class="btn btn-dark mx-3 py-2 d-block d-sm-block d-xl-none"
              role="button"
              style="width: 80px; height: 40px"
              href="/login"
              ><em>Login</em></a
            >
          </li>
        </ul>
        {% endif %}

        {% if user.is_authenticated %}
        <ul class="d-flex align-items-end">
          <span
            class="text-dark navbar-text px-2 d-none d-xl-block"
            ></span
          ><a
            class="btn btn-dark d-none d-xl-block"
            role="button"
            style="width: 150px; height: 40px"
            href="/profile"
            ><em>Go to WebApp</em></a
          >
        </ul>

        {% else %}
        <ul class="nav justify-content-center">
          <span
            class="text-dark navbar-text px-2 d-none d-xl-block me-2"
            ><em></em></span
          ><a
            class="btn btn-dark d-none d-xl-block me-5 login-login fw-bold"
            role="button"
            style="width: 120px; height: 40px"
            href="{% url 'login'%}"
            >Log In</a
          >
        </ul>
        {% endif %}
      </div>
    </div>
  </nav>
</body>
