{% extends "main.html" %}

{% block title %}Profile Page{% endblock title %}
{% block content %}

{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Payment Page for PayPal {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}


{% include 'sidebar.html' %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/paymentstyle.css' %}">
<link rel="stylesheet" href="{% static '/css/staffpagestyle.css' %}">
<link rel="stylesheet" href="{% static '/css/profile.css' %}">

<style data-tag="default-style-sheet">
  html {
    font-family: Inter;
  }


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


</style>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
  data-tag="font"
/>
<!--This is the head section-->
<!-- <style> ... </style> -->
</head>

<style>
  .alert {
  width: 58%;
}


</style>

<body>
  
<section class="dashboard-section">
  <div class="container dashboard-container">
    {% comment %} Row Dashboard {% endcomment %}
      <div class="row">
        <div class="col-10 dashboard-content">
          <h1 class="fw-bold">
            Payment
          </h1>               
          <h6 style="text-shadow: 2px 2px 3px #656565; margin-top: 40px;">
            <p>Please note that the Username is <span class="fw-bold">Case Sensitive.</span></p>
            <p>If there is an issue with your payment, click here to <a style="text-decoration: none;" class="text-warning" href="/#Contact-Map" target="_blank">contact us.</a></p>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-3 col-1st-pp p-4 text-white">
      <h4 class="" style="margin-left: 20px;">
        Bosyo Garbage Collector
      </h4>
      {% if user.outstanding_balance is none %}
      {% comment %} <h6 class="text-warning" style="margin-left: 20px;">
        You have no outstanding balance.
      </h6> {% endcomment %}
      <table class="text-start ms-2 mt-5 w-100">
        <tr class="m-0 p-0">
          <td class="td-payment credit-card__number text-start">
            Garbage Hauling Service
            <br><span class="text-warning fs-6 fw-normal">Rate × No. Households</span>
          </td>
          <td class="td-payment">
            {% load humanize %}
            <h2 class="fw-bold">
              ₱ {{user.outstanding_balance|intcomma}}
            </h2> 
          </td>
        </tr>
        <tr>
          <td class="td-total fw-bold fs-4 mt-5 text-start">
            Total
          </td>
          <td class="td-total">
            {% load humanize %}
            <h4 class="fw-bold">
              ₱ {{user.outstanding_balance|intcomma}}
            </h4> 
          </td>
        </tr>
      </table>
      
      {% else %}
      {% endif%}
    </div>
      <!-- 2nd Column -->
      <div class="col-5 mx-3 col-2nd-pp">
        <div id="smart-button-container">
          {% csrf_token %}
          {% load humanize %}
            {% if user.outstanding_balance is None %}
          <h5 class="fw-bold text-center paypal-balance">
            <span style="color: darkgreen;">You're all set! You have no outstanding balance.</span><br>
          </h5>
          
          {% else %}
          <div class="has-balance p-5">
            <p class="mt-2 fw-bold d-none d-md-block">Amount to pay:
            PHP {{ user.outstanding_balance|intcomma }}<br>
            </p>
            <p class="py-2">
              Logged in as: <span class="fw-bold">{{user.username}}</span>
            </p> 
            <form method="post">
              {% csrf_token %}
            <p class="mb-3 mt-3">Please confirm and enter your Username: <span class="text-danger">*</span></p>
            <div class="mb-2" style="text-align: start">
              <input style="padding-left: 10px; width: 90%; border-radius: 20px; color: black;" type="text" name="HOA" id="description" placeholder="Username is case sensitive" maxlength="127" value=""></div>
              <p id="descriptionError" style="visibility: hidden; color:red; text-align: start;">Please enter your name/HOA</p>
            <p class="mb-3 mt-2">Enter amount to pay in PHP:</p>
            <div class="mb-2" style="text-align: start"><input style="padding-left: 10px; width: 90%; border-radius: 20px; color: black;" name="Amount" placeholder="Amount in Peso" type="number" id="amount" value=""></div>
              <p class="mb-3" id="priceLabelError" style="visibility: hidden; color:red; text-align: start;">Please enter proper amount to pay</p>
            <div id="invoiceidDiv" style="text-align: start; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" ></div>
              <p id="invoiceidError" style="visibility: hidden; color:red; text-align: start;">Please enter an Invoice ID</p>
              <div style="text-align: center; width: 90%;" id="paypal-button-container"></div>
            </form>
          </div>
          {% endif %}
        </div>
    </section>

        <script src="https://www.paypal.com/sdk/js?client-id=AYUBK_5IUlIHcyY2I-3enRogGyAS1TjCEM-LXzv_14uu3DR8MQjszlryfC6Wv4Y5k9V1s9zGW6bxWVBi&enable-funding=venmo&currency=PHP" data-sdk-integration-source="button-factory"></script>
        <script>

            function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getCookie('csrftoken');

            var HOA = '{{HOA}}'

            function completePayment() {
                var url = "{% url 'payment' %}"

                fetch (url, {
                    method:'POST',
                    headers:{
                        'Content-type':'application/json',
                        'X-CSRFToken':csrftoken,
                    },
                    body:JSON.stringify({'HOA':HOA})
                })
            }

            function initPayPalButton() {
            var description = document.querySelector('#smart-button-container #description');
            var amount = document.querySelector('#smart-button-container #amount');
            var descriptionError = document.querySelector('#smart-button-container #descriptionError');
            var priceError = document.querySelector('#smart-button-container #priceLabelError');
            var invoiceid = document.querySelector('#smart-button-container #invoiceid');
            var invoiceidError = document.querySelector('#smart-button-container #invoiceidError');
            var invoiceidDiv = document.querySelector('#smart-button-container #invoiceidDiv');
    
            var elArr = [description, amount];
    
            if (invoiceidDiv.firstChild.innerHTML.length > 1) {
                invoiceidDiv.style.display = "block";
            }
    
            var purchase_units = [];
            purchase_units[0] = {};
            purchase_units[0].amount = {};
    
            function validate(event) {
                return event.value.length > 0;
            }
    
            paypal.Buttons({
                style: {
                color: 'silver',
                shape: 'pill',
                label: 'paypal',
                layout: 'vertical',
                
                },
    
                onInit: function (data, actions) {
                actions.disable();
    
                if(invoiceidDiv.style.display === "block") {
                    elArr.push(invoiceid);
                }
    
                elArr.forEach(function (item) {
                    item.addEventListener('keyup', function (event) {
                    var result = elArr.every(validate);
                    if (result) {
                        actions.enable();
                    } else {
                        actions.disable();
                    }
                    });
                });
                },
    
                onClick: function () {
                if (description.value.length < 1) {
                    descriptionError.style.visibility = "visible";
                } else {
                    descriptionError.style.visibility = "hidden";
                }
    
                if (amount.value.length < 1) {
                    priceError.style.visibility = "visible";
                } else {
                    priceError.style.visibility = "hidden";
                }
    
                if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
                    invoiceidError.style.visibility = "visible";
                } else {
                    invoiceidError.style.visibility = "hidden";
                }
    
                purchase_units[0].description = description.value;
                purchase_units[0].amount.value = amount.value;
    
                if(invoiceid.value !== '') {
                    purchase_units[0].invoice_id = invoiceid.value;
                }
                },
    
                createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: purchase_units,
                });
                },
    
                onApprove: function (data, actions) {
                return actions.order.capture().then(function (orderData) {
    
                    // Full available details
                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
    
                    // Show a success message within this page, e.g.
                    completePayment()
                    const element = document.getElementById('paypal-button-container');
                    element.innerHTML = '';
                    element.innerHTML = '<h3>Thank you for your payment!</h3>';
                    document.forms[0].submit();
    
                    // Or go to another URL:  actions.redirect('thank_you.html');
                    
                });
                },
    
                onError: function (err) {
                console.log(err);
                }
            }).render('#paypal-button-container');
            }
            initPayPalButton();
        </script>
      </div>
  </div>
</div>




</section>

</body>

{% endblock content %}