{% extends "main.html" %}

{% block content %}

{% include 'sidebar.html' %}


{% load crispy_forms_tags %}         

{% load static %}
<link rel="stylesheet" href=" {% static '/css/loginstyle.css' %} ">
<link rel="stylesheet" href=" {% static '/css/registerstyle.css' %} ">


{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Register User {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}


  <!-- New login form-->
  <section class="Form mt-5">
    <div class="container login-container">
      <!-- responsive form -->
      <div class="row no-gutters">
        <div class="col-md-5 colIMG text-white">
          {% comment %} <div style="">
             <div class="img-bosyo">
              <img src="\static\images\bosyo-logo-light.png" style="width: 100px; height: 150px;" alt="">
            </div> 
          </div> {% endcomment %}
           <h2 class="fw-bold" style="text-align: center; margin-top: 400px; margin-bottom: 20px;">
            Register
           </h2>
          <p class="text-white" style="text-align: center;">
            Fill out the Registration Form to create a new account. 
            You can check for account creation requests that is sent to your mail.
          </p> 
        </div>
        <div class="col-lg-6 ms-5 colIMG-content1 text-center">
          {% comment %} <h1 class="fw-bold">Register</h1> {% endcomment %}
          <h6></h6>
          <!-- #message -->
          {% if messages %}
          <div class="alert alert-danger" role="alert">
              <div class="messages">
                  {% for message in messages %}
                  {{ message }}
                  {% endfor %}
              </div>
          </div>
          {% endif %}

          <form method="POST">
            {% csrf_token %}
			      {{ form|crispy }}
            <div class="form-row">
              <div class="col-lg-7">
              </div>
            </div>
            <div class="form-row d-flex justify-content-center">
              <div class="col-lg-10">
                <button type="submit" class="btnlogin mt-3 mb-3">Register</button>
              </div>
            </div>
            {% comment %} 
            <p class="login_p">
				      If you already have an account, 
              <a href="/login">login</a> instead.
            </p> 
            {% endcomment %}
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="staff-footer">

  </section>


{% endblock content %}