
{% load static %}
{% block content %}

<link rel="stylesheet" href=" {% static '/css/sidebarstyle.css' %} ">


<body>
    
<div class="sidebar">
    <div class="logo_content">
        <div class="logo px-4 mb-5">
            <img
            src="\static\images\BosyoLogoClear.png"
            style="width: 150px;" />
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="px-0">
        <li class="">
            <a href="/staff">
                <i class='bx bxs-dashboard' ></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/profile">
                <i class='bx bxs-user-account' ></i>
                <span class="links_name">Profile</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-user' ></i>
                <span class="links_name">Users</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-line-chart' ></i>
                <span class="links_name">Analytics</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-truck' ></i>
                <span class="links_name">Trucks</span>
            </a>
        </li>
    </ul>
    <ul>
        <li style="margin-top: 120px;">
            <a href="{% url 'logout'%}">
                <i class='bx bx-log-out' id="log_out"></i>
                <span class="links_name">Logout</span>
            </a>
        </li>
    </ul>
    
    <!-- Removed -->
    <!-- <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img src="\static\images\user.png" class="user_icon">
                <div class="name">Welcome, <br><span class="username_profile">{{user.username}}</span>!</div>
                <a class="logout_link" href="{% url 'logout'%}"><i class='bx bx-log-out' id="log_out"></i></a>
            </div>
        </div>
    </div> -->
</div>


<script>
    //button for sidebar menu
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");

    btn.onclick = function() {
        sidebar.classList.toggle("active");
    }

</script>


</body>

{% endblock content %}