
{% load static %}
{% block content %}

<link rel="stylesheet" href=" {% static '/css/sidebarstyle.css' %} ">


<body>
    
<div class="sidebar">
    <div class="logo_content">
        <div class="logo px-4">
            <img
            src="\static\images\BosyoLogoClear.png"
            style="width: 150px;" />
            <div class="logo_name">
                <!-- Bosyo Garbage Collector -->
            </div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list px-0">
        <li>
            <i class='bx bx-search py-3 px-3' ></i>
            <input type="text" placeholder="Search here...">
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
    </ul>
    <ul class="px-0">
        <li class="">
            <a href="/staff">
                <i class='bx bxs-dashboard' ></i>
                <span class="links_name">Dashboard</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
        <li>
            <a href="/profile">
                <i class='bx bxs-user-account' ></i>
                <span class="links_name">Profile</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-user' ></i>
                <span class="links_name">Users</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
        <li>
            <a href="#">
                <i class='bx bx-line-chart' ></i>
                <span class="links_name">Analytics</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-truck' ></i>
                <span class="links_name">Trucks</span>
            </a>
            <!-- <span class="tooltip">Dashboard</span> -->
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <img src="\static\images\user.png" class="user_icon">
                <div class="name">Welcome, <br><span class="username_profile">{{user.username}}</span>!</div>
                <a class="logout_link" href="{% url 'logout'%}"><i class='bx bx-log-out' id="log_out"></i></a>
            </div>
        </div>
    </div>
</div>


<script>
    //button for sidebar menu
    let btn = document.querySelector("#btn");
    let sidebar = document.querySelector(".sidebar");
    let searchBtn = document.querySelector("bx-search");

    btn.onclick = function() {
        sidebar.classList.toggle("active");
    }
    btn.searchBtn = function() {
        sidebar.classList.toggle("active");
    }

</script>


</body>

{% endblock content %}