{% extends "main.html" %}

{% block title %}Profile Page{% endblock title %}
{% block content %}

{% include 'sidebar.html' %}


{% load static %}

<link rel="stylesheet" href=" {% static '/css/dashboardstyle.css' %} ">

<style>



/* this makes all content move right to show side bar properly */
body {
  margin-left: 0px;
  
}

.card_user_list {
  background-color: rgb(18, 18, 18);
  width: 1300px;
  color: aliceblue;
  border-radius: 30px;
  padding: 30px;
}

thead {
  border-bottom: hidden;
}

td {
  text-align: left;
  padding: 10px;
  vertical-align: left;
  text-align: center;
  height: 50px;
  line-height: 45px;
  border-bottom: 1px dashed #cccccc;
}


thead {
  text-align: center;
}

.btnPayment {
  background-color: #161616;
  border-style: hidden;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  text-align: center;
}

.servicesUnderline {
  background-image: linear-gradient(120deg, #84fab0, #4bb2e694);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
  transition: background-size .25s ease-in;
  cursor: pointer;
  }
  
  .servicesUnderline:hover {
  background-size: 100% 100%;
  transition: .25s;
  }

  .btnPayment:hover {
    background-color: white;
    border: 2px solid;
    color: black;
    transition: all 0.2s;
  }


</style>

<body 
style="
--bs-primary: #008751;
--bs-primary-rgb: 0, 135, 81;
--bs-secondary: #1f1f1f;
--bs-secondary-rgb: 31, 31, 31;
--bs-success: #31f99d;
--bs-success-rgb: 49, 249, 157;
">

<section style="margin-left: 140px;">
  <div class="container">
    <div class="row">
      <div class="col w-50">
        <h1 class="fs-1 pt-5" style="font-family: 'Montserrat', sans-serif;">Dashboard</h1>
        <h6 class="fs-6 mt-3">Here, you can see the <span class="servicesUnderline">user list and activity.</span></h6>
      </div>
      <div class="col mt-5">
        {% comment %} <h5 class="fs-5 pt-5 mt-4 d-none d-md-block" style="font-family: 'Montserrat', sans-serif;">Welcome back, <span class="servicesUnderline fw-bold">{{user.username}}.</span> Take a look around!</h5> {% endcomment %}
        <p style="font-style: italic;">
          Want to make a manual payment?
        <a href="/manualpayment">
          <button class="btnPayment btn-primary mx-2" type="button">
            Manual Payment <i class='bx bxs-bank'></i>
          </button>
        </a>
      </p>
      </div>
    </div>
    <div class="row">
          <div class="col-md-6" style="">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                          <tr class="text-dark" style="vertical-align: top;">
                            <th></th>
                            <th>Username</th>
                            <th>Name</th>
                            <!-- <th>E-mail</th> -->
                            <!-- <th>Address</th> -->
                            <!-- <th>Mobile phone</th> -->
                            <!-- <th>Landline</th> -->
                            <!-- <th>No. of Houses</th> -->
                            <!-- <th>Payrate</th> -->
                            <!-- <th>Total Rate</th> -->
                            <th>Outstanding Bal.</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for user in accounts %}  
                          <tr class="useracc">
                              <td class="text-truncate text-dark" style="max-width: 100px;"><i class="bi bi-file-earmark-person-fill"></i></td>
                              <td class="text-truncate text-dark fw-b" style="max-width: 100px;">{{user.username}}</td>
                              <td class="text-truncate text-dark" style="max-width: 100px;">{{user.name}}</td>
                              <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.email}}</td> -->
                              <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.address}}</td> -->
                              <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.MobilePhone}}</td> -->
                              <!-- <td class="text-truncate" style="max-width: 100px;">{{user.Landline}}</td> -->
                              <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.houses}}</td> -->
                              <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.payrate}}</td> -->
                              <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.rate}}</td> -->
                              {% load humanize %}
                              <td class="text-truncate text-dark" style="max-width: 100px;">₱ {{user.outstanding_balance|intcomma}}</td>
                          </tr>
                          {% endfor %} 
                      </tbody>
                    </table>
                  </div>
              </div>
          </div>


          {% comment %} Recent Transactions {% endcomment %}
          <div class="col-md-5">
            <div class="text-light" style="border-radius: 20px; background-color: rgb(20, 20, 20); border: none;">
              <div class="mx-3 py-3 mb-5">
                <h6 class="fs-6 fw-bold">Recent transactions</h6>
                  <div class="table-responsive">
                    <table class="table">
                        <thead>
                          <tr class="text-light" style="border: none;">
                            <th></th>
                            <th>Date</th>
                            <th>User</th>
                            <th>Amount</th>
                            <th>Transaction ID</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for payment in payments %}
                            {% if forloop.counter < 11  %}  
                              <tr class="text-light">
                                <td><i class="bi bi-currency-exchange"></i></td>
                                <td>{{payment.Date_paid}}</td>
                                <td>{{payment.User_who_Paid}}</td>
                                {% load humanize %}
                                <td>₱ {{payment.amount|intcomma}}</td>
                                <td>{{payment.id}}</td>
                              </tr>
                              {% endif %}
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</section>

<div class="container" style="margin-left: 170px;">
  <div class="row">
    <div class="col w-50">
      <div class="col my-4 w-75" style="">
        <h1 class="fs-1 my-4" style="font-family: 'Montserrat', sans-serif;">Employee Attendance</h1>
        <h6 class="fs-6 mb-4">
          Ready to check attendance of employees? <span class="servicesUnderline">Click the button below</span> to register a payment.
        </h6>
        <a href="/qrlogin">
          <button class="btnPayment btn-primary" type="button">
            QR Login <i class="bi bi-person-bounding-box ps-3"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</div>



<section>
  <div class="container my-1">
      <div class="col-md-5">
          <div class="row">
              <div class="col-md-5 mb-5">
                  <div class="card_user_list">
                      <div class="card-header d-flex flex-wrap justify-content-center align-items-center justify-content-sm-between gap-3">
                        <h5 class="display-4 text-nowrap mb-0 mt-2 fw-bold">
                          Trucks and Drivers
                        </h5>
                      </div>
                      <div class="">
                          <div class="table-responsive">
                              <table class="table text-light">
                                  <thead class="fs-4">
                                    <tr>
                                      <th>Truck no.</th>
                                      <th>Driver</th>
                                      {% comment %} <th>Helpers</th> {% endcomment %}
                                      <th>Plate Number</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for truck in trucks %}  
                                      <tr>
                                        <td>{{truck.Truck_number}}</td>
                                        <td>{{truck.Driver_Name}}</td>
                                        {% comment %} <td>{{truck.Helper}}</td> {% endcomment %}
                                        <td>{{truck.Plate_Num}}</td>
                                        <td>
                                          {% comment %} <img src="{{Truck_Part.Receipt.url}}" alt="Receipt"> {% endcomment %}
                                        </td>
                                      </tr>
                                      {% endfor %} 
                                    </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>





</body>




{% endblock content %}