{% load static %}  

<!DOCTYPE html>

<html>
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <link rel="stylesheet"  href="{%  static  'css/main.css'  %}">
    </head>
    <body>

        <div class="container-fluid min-vh-100">Height 100%</div>
            Test
        </div
            
        
    
    
    
    
    
    
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <section class="register-photo" style="background-color: transparent;">
                    <div class="form-container" style="margin-top: 40px;">
                        <div class="image-holder" style="background: url(&quot;assets/img/gradient_green.jpg&quot;) left / cover no-repeat;"></div>
                        <form method="post" action="afterRegister.html" style="height: 525px;">
                            <h2 class="text-center"><strong>Login to your account.</strong></h2>
                            <div class="form-group mb-3"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                            <div class="form-group mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                            <div id="passwordsError" style="display: none;margin-bottom: 16.5px;"><span id="errorMessage" class="text-danger" style="font-size:13px;"></span></div>
                            <div class="form-group mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background: #2a9d95;">Login</button></div><a class="already" href="register.html" style="font-size: 13px;">Don't have an account yet? Contact us to register.</a>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="https://geodata.solutions/includes/countrystate.js"></script>
</body>

    <!-- Bosyo Coverage Map -->
    <section class="position-relative py-4 py-xl-5" id="Contact-Us">
        <div class="container position-relative">
            <div class="row">
                <div class="col"><iframe allowfullscreen frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCSequZoWaf8XWec9aURVtZWTk1IWJRkEw&amp;q=Bosyo+Garbage+Collector&amp;zoom=12" loading="lazy" width="100%" height="100%"></iframe></div>
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            <h3 class="fw-bolder text-center mb-3">To avail our services, contact us here.</h3>
                            <p class="fw-light">Our contact information<br>Phone Number: 09062208025<br>Email: bosyogarbagecollector@gmail.com<br></p>
                            <p class="fw-bolder">Name *</p>
                            <div class="mb-3"><input class="border-dark form-control" type="text" name="name" placeholder="Enter your name here."></div>
                            <p class="fw-bolder">E-mail *</p>
                            <div class="mb-3"><input class="border-1 border-dark form-control" type="email" name="email" placeholder="Enter your email."></div>
                            <div class="mb-3"><textarea class="border-1 border-dark form-control" name="message" placeholder="Place here your thoughts, concerns, and inquiries. We would try to respond back as soon as possible." rows="6"></textarea></div>
                            <div class="mb-3"><button class="btn btn-primary fw-bolder bg-dark border rounded-0" type="submit" style="height: 55px;width: 150px;">Submit!</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    