<!doctype html>
<html>
<head>
<title>Truck List</title>
<meta name="description" content="List of Trucks">
<meta name="keywords" content="Truck List">
</head>
<body>
<div class="trucklistcontainer">
<h1>{{truck.Truck_number}}</h1><a/>
</div>
<div class="trucklistcontainer">
<h1>{{truck.Driver_Name}}</h1><a/>
</div><div class="trucklistcontainer">
<h1>{{truck.Plate_Num}}</h1><a/>
</div><div class="trucklistcontainer">
<h1>{{truck.distance_travelled}}</h1><a/>
</div><div class="trucklistcontainer">
<h1>{{truck.fuel_used}}</h1><a/>
</div>

</body>
</html>