{% extends "main.html" %}
{% load static %}
{% block content %}

{% include "sidebar.html" %}


<link rel="stylesheet" href=" {% static '/css/dashboardstyle.css' %} ">

<style>
  body {
    font-family: 'Montserrat', sans-serif;
  }
/*   
  #truckmaint {
    background: url('/static/images/Vector-Truck-PNG.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    opacity: .25;
  } */

  #cardimg0 {
    position: relative;
  }

  #cardimg0::before {    
    content: "";
    background-image: url('/static/images/Vector-Checklist-PNG.png');
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    opacity: 0.25;
  }

  #cardimg0 {
    position: relative;
  }

  #cardimg0::before {    
    content: "";
    background-image: url('/static/images/Vector-Truck-PNG.png');
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    opacity: 0.25;
  }

  #cardimg1 {
    position: relative;
  }

  #cardimg1::before {    
    content: "";
    background-image: url('/static/images/Vector-Mainte-PNG.png');
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    top: 60px;
    right: 60px;
    bottom: 60px;
    left: 60px;
    opacity: 0.25;
  }

  #cardimg2 {
    position: relative;
  }

  #cardimg2::before {    
    content: "";
    background-image: url('/static/images/Vector-Graph-PNG.png');
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    opacity: 0.25;
  }

.card_payment {
    background: rgb(18, 18, 18);
}

.servicesUnderline {
  background-image: linear-gradient(120deg, #84fab0, #4bb2e694);
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: 70% 100%;
  transition: background-size .25s ease-in;
  }


input {
  contain: content;
  border-radius: 10px; 
  border: 2px solid; 
}

#truckInput {
  padding: 40px;
}

.displayTruck {
  border-radius: 30px;
  width: 600px;
  height: 760px;
  margin-top: 40px;
}

td {
  text-align: left;
  padding: 10px;
  vertical-align: left;
  text-align: center;
  height: 50px;
  line-height: 45px;
  border-bottom: 1px dashed #cccccc;
}

.btnPayment {
  background-color: #161616;
  border-style: hidden;
  border-radius: 7px;
  width: 200px;
  height: 50px;
  text-align: center;
}

.btnPayment:hover {
  background-color: white;
  border: 2px solid;
  color: black;
  transition: all 0.2s;
}

input {
  width: 100%;
}


</style>

<section style="margin-left: 140px;">
  <div class="container">
    <div class="row">
    {% comment %} headings col {% endcomment %}
      <div class="col-xxl-6" style="">
        <h2 class="fs-2 pb-3 ms-3 pt-5" style="max-width: 500px;">View Maintenance expenses made within the company</h2>
        <p class="w-lg-50 text-muted ms-3">All maintenance repairs and info will be recorded here.</p>
      </div>
    </div>
  </div>
</section>

<section style="margin-left: 140px; padding-bottom: 35px;">
  <div class="container">
    <div class="row">
      {% comment %} Contents {% endcomment %}
        <div class="col-7 col-sm-5 col-md-11 col-lg-8 col-xxl-8">
          <div class="row">
          <div class="col text-center mx-3 my-1" style="border-radius: 20px; border: 2px solid black; padding: 20px;">
            <h2 class="fw-bold">
              <i class='bx bxs-truck'></i> {{truckCount}}
            </h2>
            <p>
              <br>Overall Vehicle Count
            </p>
          </div>
          <div class="col text-center mx-3 my-1 text-light" style="border-radius: 20px; background: black; padding: 20px;">
            <h2 class="fw-bold">
              <i class='bx bx-male'></i>{{helperCount}}
            </h2>
            <p>
              <br>Overall Helper Count
            </p>
          </div>
          <div class="col text-center mx-3 my-1" style="border-radius: 20px; border: 2px solid black; padding: 20px;">
            <h2 class="fw-bold">
              {% load humanize %}
              ₱ {{totalExpenses.Total__sum|intcomma}}
            </h2>
            <p>
              <br>Total Expenses
            </p>
          </div>
        </div>
      </div>
    </div>
</section>


<section style="margin-left: 140px; margin-bottom: 50px;">
  <div class="container">
    <div class="row">
      <div class="container ms-3">
        <div>
          <h2 class="pb-2 pt-5 fw-bold fs-4" style="font-family: 'Montserrat', sans-serif; max-width: 550px;"><span class="servicesUnderline">Record and View Truck Maintenance</span></h2>
          <h6>
              Here, you can record truck maintenance info as well as check history.
          </h6>
          <p>Note that you can view receipts by clicking the image on the <span class="fw-bold">Receipt</span> section.</p>
        </div>
        <div class="row">
            <div class="col py-5 my-5 me-5" style="border-radius: 20px; border: 2px solid; height: 750px;" id="truckInput">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mt-2 mb-4" id="">
                        <h4 class="pb-2">
                            Truck Part Name:
                        </h4>
                        {{form.Truck_Part_Name}}
                    </div>
                    <div class="form-group mt-2 mb-2" id="">
                        <h4 class="pb-2">
                            Price:
                        </h4>
                        {{form.Price}}
                    </div>
                    <div class="form-group mt-2 mb-2" id="">
                      <h4 class="pb-2">
                          Enter Quantity:
                      </h4>
                      {{form.Quantity}}
                    </div>
                    <div class="form-group mt-2 mb-2" id="">
                      <h4 class="pb-2">
                          Total:
                      </h4>
                      {{form.Total}}
                    </div>
                    <div class="form-group mt-2 mb-2" id="">
                      <h4 class="pb-2">
                          Truck Used on:
                      </h4>
                      {{form.Truck_Used_On}}
                    </div>
                    <div class="form-group mt-2 mb-2" id="">
                      <h4 class="pb-2">
                          Choose image file of Receipt
                      </h4>
                      {{form.Receipt}}
                    </div>
                    <div style="margin-top: 100px;">
                        <div class="form-row">
                            <div class="col-lg-5">
                                <button type="submit" class="btn">
                                    <span class="fw-bold">Submit </span><i class='bx bx-chevrons-right fs-2 align-middle'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6" style="border-radius: 20px; background: #171717; color: white;">
              <table class="table mt-3">
                <thead class="text-light text-center">
                  <tr>
                    <th>Truck no.</th>
                    <th>Total</th>
                    <th>Receipt</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for part in queryset1 %}
                    <tr>
                      <td class="text-light text-center">{{ part.Truck_Used_On }}</td>
                      <td class="text-light text-center">{{ part.sumTotal }}</td>
                      {% for part in parts %}
                      <td class="text-light text-center"><a href="{{ part.Receipt.url }}" target="_blank"><img src="{{ part.Receipt.url }}" alt="Truck Part Image" style="width: 60px; height: 40px;"></a></td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

        


{% endblock content %}
