{% extends "main.html" %}

<head>
{% block title %}Truck Details{% endblock title %}
{% block content %}

{% include 'sidebar.html' %}

  <title>Truck List</title>
  <meta name="description" content="List of Trucks">
  <meta name="keywords" content="Truck List">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/truck_details_templatestyle.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">

</head>
<style>

</style>

<body class="
--bs-primary: #008751;
--bs-primary-rgb: 0, 135, 81;
--bs-secondary: #1f1f1f;
--bs-secondary-rgb: 31, 31, 31;
--bs-success: #31f99d;
--bs-success-rgb: 49, 249, 157;">


{% if messages %}
<div class="alert alert-danger mt-4" role="alert" style="width: 80%;" id="wrapper">
    <div class="messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
</div>
{% endif %}

{% comment %} Bosyo Home Logo {% endcomment %}
<section style="margin-left: 100px; margin-top: 20px;">
  <a href="{% url 'home'%}">
    <picture id="logo">
      <img
        src="\static\images\BosyoLogoClear.png"
        class="py-1 d-none d-lg-block mx-5"
        style="width: 174px; margin: 0px; padding: 0px">
      </picture>
  </a>
</section>

<section>
    <div class="container">
      <div>
        <h1 class="fs-1 my-4" style="font-family: 'Montserrat', sans-serif;">Truck Staff Info</h1>
        <h6>
            You can view each Truck's Driver and Helpers in this section.
            <br><br><span class="fw-bold">This truck's total maintenance count is: 
            {% if truck.TruckMaintenanceCount %}
                <td class="text-center fw-bold" style="width: 150px;">
                <i class="bi bi-wrench-adjustable text-warning"></i>
                {{truck.TruckMaintenanceCount}}</span>
                </td>
            {% else %}
                <td class="text-center fw-bold" style="width: 150px;">
                <i class="bi bi-wrench-adjustable text-success"></i>
                <span class="fw-bold">None</span>
                </td>
            {% endif %}     
        </h6>
      </div>

      <div class="row">
          <div class="col-md-6 col-xl-4 py-5 mx-1 my-5 h-25" style="border-radius: 20px; border: 2px solid; height: 440px;">
            <div class="box fw-bold" style="padding-left: 130px; padding: 0px; display: flex; align-items: center; justify-content: center;">
            </div>
            <h1 class="fw-bold text-center" style="font-family: 'Oswald', sans-serif;">
                {{truck.Plate_Num}}
            </h1>
            <h6 class="text-center fw-bold" style="color: darkgreen;">
                <br>Truck Driver: {{truck.Driver_Name}}
            </h6>
          </div>
          <div class="col-md-7 text-center mx-1 my-5" style="">
          {% comment %} Helper List {% endcomment %}
          <div 
            class="text-light" 
            style="border-radius: 20px; background-color: rgb(20, 20, 20); border: none;">
              <div class="mx-3 py-3 mb-5">
                <h6 class="fs-4 fw-bold text-start">Helper List:</span></h6>
                  <div class="table-responsive">
                    <table class="table">
                        <tbody>
                          {% comment %} backend Helper Names {% endcomment %}
                          {% for person in object.helper.all  %}
                            <tr class="text-light">
                                <td>{{person.name}}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  

<section style="margin-left: 140px;">
  <div class="container">
    <div class="row">
      <div class="col w-50">
        <div class="col my-4">
          <h1 class="fs-1 my-4" style="font-family: 'Montserrat', sans-serif;">
            <span class="servicesUnderline2">Generate QR Code</span>
          </h1>
          <h6 class="fs-6 mb-4">
            This will make you create <span class="fw-bold">QR Codes for your employees</span> so that you can record their attendance.
          </h6>

          <a href="/qr-code">
            <button class="btnPayment btn-primary" type="button">
              QR Code <i class="bi bi-person-bounding-box ps-3"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-5 my-3">
        <div class="col-md-6 text-center" style="background-image: linear-gradient(120deg, #84fab0, #4bb2e694); border-radius: 20px; border: 2px solid black; width: 400px; height: 230px; padding: 60px;">
          {% comment %} <img src="\static\images\people.jpg" alt="" class="imgAttendance"> {% endcomment %}
          <h1 class="display-1">
            <i class="bi bi-person-bounding-box ps-3"></i>
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>



</body>

{% endblock content %}