{% extends "main.html" %}


{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Truck Overview {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} it shows Truck Details and Truck Driver list with Plate Numbers {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}

<head>
{% block title %}Profile Page{% endblock title %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static '/css/staffpagestyle.css' %}">

{% include 'sidebar.html' %}

  <title>Truck List</title>
  <meta name="description" content="List of Trucks">
  <meta name="keywords" content="Truck List">
  {% load static %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href=" {% static '/css/truckdriverstyle.css' %} ">

</head>

<style data-tag="default-style-sheet">
  html {
    font-family: Inter;
  }


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


</style>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
  data-tag="font"
/>
<!--This is the head section-->
<!-- <style> ... </style> -->
</head>

<style>
  .alert {
  width: 58%;
}


</style>


<body class="
--bs-primary: #008751;
--bs-primary-rgb: 0, 135, 81;
--bs-secondary: #1f1f1f;
--bs-secondary-rgb: 31, 31, 31;
--bs-success: #31f99d;
--bs-success-rgb: 49, 249, 157;">


<section class="dashboard-section">
  <div class="container dashboard-container">
    {% comment %} Row Dashboard {% endcomment %}
      <div class="row">
        <div class="col dashboard-content">
          <h1 class="fw-bold">
            Truck List Overview
          </h1>               
          <h6 style="text-shadow: 2px 2px 3px #656565; margin-top: 40px;">
            Use our platform to monitor and view the condition of your trucks in real-time, 
            so you can keep them running smoothly and prevent breakdowns.
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    {% comment %} Buttons {% endcomment %}
    <div class="row" style="top: 1rem;">
      <div class="col text-center my-4 text-white col-fuel" 
      style="
      background-image: url(/static/images/gradient-green.png);
      background-color: #008751a3;
      background-size: cover;
      background-position: 0% 50%;
      border-radius: 10px; 
      border: 2px solid white; 
      padding: 20px;"
      >
        <h2 class="fw-bold">
          {% comment %} backend count total L {% endcomment %}
          <i class='bx bxs-gas-pump'></i> 
          {{totalfuel.fuel_used__sum|floatformat:2}} L
        </h2>
        <p>
          Overall Fuel Consumed of Each Truck
        </p>
      </div>
      <div class="col text-center ms-4 my-4 text-white" 
      style="
      background-image: url(/static/images/gradient-green.png);
      background-color: #008751a3;
      background-size: cover;
      background-position: 0% 50%;
      border-radius: 10px; 
      border: 2px solid white; 
      padding: 20px;">
        <h2 class="fw-bold">
          {% comment %} backend count total KM {% endcomment %}
          <i class="bi bi-speedometer"></i> {{totalkm.distance_travelled__sum|floatformat:0}} km
        </h2>
        <p>
          Overall Distance Traveled for Each Truck
        </p>
      </div>
    </div>
    {% comment %} <div class="img-trucklist position-relative">
      <img
      src="\static\images\6.png"
      class="d-none d-lg-block mx-5 position-absolute"
      style="width: 200px; right: 60px; top: 0">
    </div> {% endcomment %}
  </div>
</section>

<section class="truckTable" style="margin-top: 10px;">
  <div class="container trucklist-container p-5 mb-5">
    <div class="row">
      <h4 class="py-2 fw-bold" style="font-family: 'Maven Pro', sans-serif;">
        Truck Details
      </h4>
      <h6>
        <span style="font-weight: bold; color: green;">Click on a plate number bellow</span> to view Driver and Helper list and redirect to another page.
      </h6>
        <div class="trucks-table mt-5">
          <table id="table1">
            <tbody>
              {% comment %} table row first {% endcomment %}
              {% for truck in object_list %}
              <div class="trucklistcontainer">
                <tr>
                  <td class="text-center fw-bold">
                    #{{truck.Truck_number}}
                  </td>
                  <td class="plateNum text-center" style="">
                    <a href="{{truck.id}}" style="text-decoration: none; color: black; font-size: 18.5px;">{{truck.Plate_Num}}</a>
                  </td>
                  <td class="text-center fw-bold" style="width: 350px;">
                    <i class="bi bi-person-badge-fill text-muted"></i> {{truck.Driver_Name}}
                  </td>
                  <td class="text-center fw-bold text-muted" style="width: 200px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fuel-pump-fill" viewBox="0 0 16 16">
                      <path d="M1 2a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v8a2 2 0 0 1 2 2v.5a.5.5 0 0 0 1 0V8h-.5a.5.5 0 0 1-.5-.5V4.375a.5.5 0 0 1 .5-.5h1.495c-.011-.476-.053-.894-.201-1.222a.97.97 0 0 0-.394-.458c-.184-.11-.464-.195-.9-.195a.5.5 0 0 1 0-1c.564 0 1.034.11 1.412.336.383.228.634.551.794.907.295.655.294 1.465.294 2.081V7.5a.5.5 0 0 1-.5.5H15v4.5a1.5 1.5 0 0 1-3 0V12a1 1 0 0 0-1-1v4h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V2Zm2.5 0a.5.5 0 0 0-.5.5v5a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-5a.5.5 0 0 0-.5-.5h-5Z"/>
                    </svg><span class="text-black"> {{truck.fuel_used}} L</span>
                  </td>
                  <td class="text-center fw-bold" style="width: 160px;">
                    <i class="bi bi-speedometer text-muted"></i> {{truck.distance_travelled}} km
                  </td>
                  {% if truck.TruckMaintenanceCount %}
                  <td class="text-center fw-bold" style="width: 200px;">
                    <i class="bi bi-wrench-adjustable text-warning"></i></i>
                    {{truck.TruckMaintenanceCount}} vehicle fixes
                  </td>
                  {% else %}
                  <td class="text-center fw-bold">
                    <i class="bi bi-wrench-adjustable text-success"></i></i>
                    {{truck.TruckMaintenanceCount}} vehicle fixes
                  </td>
                  {% endif %} 
                </tr>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
  </div>
</section>

</body>

{% endblock content %}