{% extends "main.html" %}
{% load static %}
{% block content %}

{% include "sidebar.html" %}


<link rel="stylesheet" href=" {% static '/css/dashboardstyle.css' %} ">

<style>
  body {
    margin-left: 90px;
    font-family: 'Montserrat', sans-serif;
  }
/*   
  #truckmaint {
    background: url('/static/images/Vector-Truck-PNG.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    opacity: .25;
  } */

  #cardimg0 {
    position: relative;
  }

  #cardimg0::before {    
    content: "";
    background-image: url('/static/images/Vector-Checklist-PNG.png');
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    opacity: 0.25;
  }

  #cardimg0 {
    position: relative;
  }

  #cardimg0::before {    
    content: "";
    background-image: url('/static/images/Vector-Truck-PNG.png');
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    opacity: 0.25;
  }

  #cardimg1 {
    position: relative;
  }

  #cardimg1::before {    
    content: "";
    background-image: url('/static/images/Vector-Mainte-PNG.png');
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    top: 60px;
    right: 60px;
    bottom: 60px;
    left: 60px;
    opacity: 0.25;
  }

  #cardimg2 {
    position: relative;
  }

  #cardimg2::before {    
    content: "";
    background-image: url('/static/images/Vector-Graph-PNG.png');
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    opacity: 0.25;
  }

.card_payment {
    background: rgb(18, 18, 18);
}

{% comment %} 
.imgbg {
  object-fit: cover;
  z-index: -99999;
} {% endcomment %}


</style>

<div class="container mx-1">
    {% comment %} headings col {% endcomment %}
    <div class="col-xxl-6" style="">
      <h2 class="fs-2 pb-3 ms-3 pt-5" style="max-width: 500px;">Monitor and view condition of your trucks</h2>
      <p class="w-lg-50 text-muted ms-3">All maintenance repairs and info will be recorded here.</p>
    </div>
  <div class="row">
    <div class="card-group">
      {% comment %} first card {% endcomment %}
      <div class="col-xxl-1 mx-2 py-3" style="width: 225px;">
        <div class="card" id="cardimg0" style="width: 223.062px; border-radius: 20px; background-color: rgb(232, 232, 232);">
          <div class="card-body p-4" style="height: 210px;">
            <p class="card-title pb-5">Total Vehicles</p>
            <h5 class="card-text fs-5 mt-4"><span class="text-secondary"><br>{{truckCount}}</span> available this week</h5>
          </div>
        </div>
      </div>
      {% comment %} second card {% endcomment %}
      <div class="col-xxl-1 mx-2 py-3" style="width: 225px;">
        <div class="card" id="cardimg1" style="width: 223.062px; border-radius: 20px; background-color: rgb(255, 231, 188);">
          <div class="card-body p-4" style="height: 210px;">
            <p class="card-title pb-5">Helpers</p>
            <h5 class="card-text fs-5 mt-4"><span class="text-warning"><br><br>{{0}}</span> total Helpers</h5>
          </div>
        </div>
      </div>
      {% comment %} third card {% endcomment %}
      <div class="col-xxl-1 mx-2 py-3" style="width: 225px;">
        <div class="card" id="cardimg2" style="width: 223.062px; border-radius: 20px; background-color: rgb(255, 198, 198)">
          <div class="card-body p-4" style="height: 210px;">
            <p class="card-title pb-5">Total Expenses</p>
            <h5 class="card-text fs-5 mt-4"><span class="text-danger"><br><br>₱{{totalExpenses.Total__sum}}</span> this week</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  {% comment %} Backend Here: Add a chart that monitors Truck Expenses {% endcomment %}
  <div class="container">
    <div class="row">
      <div class="col">
        
        </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="row">
    <div class="col w-50">
      {% comment %} <h1 class="fs-1 pt-5" style="font-family: 'Montserrat', sans-serif;">Dashboard</h1> {% endcomment %}
      {% comment %} <h6 class="fs-6 mt-3">Here, you can see the <span class="servicesUnderline">user list and activity.</span></h6> {% endcomment %}
    </div>
    <div class="col">
      {% comment %} <h5 class="fs-5 pt-5 mt-1 d-none d-md-block" style="font-family: 'Montserrat', sans-serif;">Welcome back, <span class="servicesUnderline fw-bold">{{user.username}}.</span> Take a look around!</h5> {% endcomment %}
    </div>
  </div>
  <div class="row">
        <div class="col-md-6" style="">
          <div class="card-body">
              <div class="table-responsive">
                  <table class="table table-striped">
                      <thead>
                        <tr class="text-dark" style="vertical-align: top;">
                          <th></th>
                          <th>Name of Helper</th>
                          <th>Truck Assigned</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for user in accounts %}  
                        <tr class="useracc">
                            <td class="text-truncate text-dark" style="max-width: 100px;"><i class="bi bi-file-earmark-person-fill"></i></td>
                            <td class="text-truncate text-dark fw-b" style="max-width: 100px;">{{user.username}}</td>
                            <td class="text-truncate text-dark" style="max-width: 100px;">{{user.name}}</td>
                            <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.email}}</td> -->
                            <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.address}}</td> -->
                            <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.MobilePhone}}</td> -->
                            <!-- <td class="text-truncate" style="max-width: 100px;">{{user.Landline}}</td> -->
                            <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.houses}}</td> -->
                            <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.payrate}}</td> -->
                            <!-- <td class="text-truncate text-dark" style="max-width: 100px;">{{user.rate}}</td> -->
                            {% load humanize %}
                            <td class="text-truncate text-dark" style="max-width: 100px;">₱ {{user.outstanding_balance|intcomma}}</td>
                        </tr>
                        {% endfor %} 
                    </tbody>
                  </table>
                </div>
            </div>
        </div>


        {% comment %} Helper Log {% endcomment %}
        <div class="col-md-5">
          <div class="card text-light" style="border-radius: 20px; background-color: rgb(20, 20, 20); border: none;">
            <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                      <thead>
                        <tr class="text-light" style="border: none;">
                          <th></th>
                          <th>Name of Helper</th>
                          <th>Time-In</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for payment in payments %}  
                          <tr class="text-light">
                            <td><i class="bi bi-currency-exchange"></i></td>
                            <td>{{payment.Date_paid}}</td>
                            <td>{{payment.User_who_Paid}}</td>
                            {% load humanize %}
                            <td>₱ {{payment.amount|intcomma}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>


<div class="container pt-5">
    <form method="post" enctype="multipart/form-data" class="align-items: start;">
        {% csrf_token %}

        {{form.as_p}}
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<div class="container pt-5">
    <div class="col mb-5 mt-5 px-4" style="width: 35%;">
        <div class="card_payment card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mt-2 mb-4" id="tfield_payment">
                        <h4 class="text-light pb-2 fw-lighter">
                            Enter Truck Part Name:
                        </h4>
                        {{form.Truck_Part_Name}}
                        {{form.Receipt}}
                    </div>

                    <div class="form-group mt-2 mb-2" id="tfield_payment">
                        <h4 class="text-light pb-2 fw-lighter">
                            Enter the amount to pay:
                        </h4>
                        <input class="form-control" name="Amount" type="text" placeholder="Total Amount">
                    </div>
                    
                    <div class="d-flex justify-content-end">
                        <div class="form-row">
                            <div class="col-lg-5">
                                <button type="submit" class="btn btn-transparent text-light">
                                    <span class="fw-bold">Submit </span><i class='bx bx-chevrons-right fs-2 align-middle'></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="containerchart" style="width: 75%;">
  <canvas id="bar-chart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>

  var config = {
    type: 'bar',
    data: {
      datasets: [{
        data: {{ data|safe }},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(255, 159, 64, 0.2)',
        'rgba(255, 205, 86, 0.2)',
        'rgba(75, 192, 192, 0.2)',
        'rgba(54, 162, 235, 0.2)',
        'rgba(153, 102, 255, 0.2)',
        'rgba(201, 203, 207, 0.2)'
        ],
        borderColor: [
        'rgb(255, 99, 132)',
        'rgb(255, 159, 64)',
        'rgb(255, 205, 86)',
        'rgb(75, 192, 192)',
        'rgb(54, 162, 235)',
        'rgb(153, 102, 255)',
        'rgb(201, 203, 207)'
        ],
        label: 'Attendance'
      }],
      labels: {{ labels|safe }}
    },
    options: {
      scales: {
          y: {
              beginAtZero: true
          }
      }
    }
  };

  window.onload = function() {
    var ctx = document.getElementById('bar-chart').getContext('2d');
    window.myPie = new Chart(ctx, config);
  };

</script>

{% endblock content %}
