{% extends "main.html" %}

{% block content %}

{% include 'sidebar.html' %}

{% load static %}
<link rel="stylesheet" href=" {% static '/css/profilestyle.css' %} ">
<link rel="stylesheet" href=" {% static '/css/dashboardstyle.css' %} ">

<style>
  body {
      font-family: 'Maven Pro', sans-serif;
    }

  .servicesUnderline {
    background-image: linear-gradient(120deg, #84fab0, #4bb2e694);
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-position: 70% 100%;
    transition: background-size .25s ease-in;
    }

  td {
    text-align: left;
    padding: 10px;
    vertical-align: left;
    text-align: center;
    height: 50px;
    line-height: 45px;
  }

</style>


<!-- <h1> Dashboard</h1>
<div class="card">
    <div class="card-body">
        <h1>Name:{{user.username}}</h1>
        <h1>Adress:{{user.address}}</h1>
        <h1>Mobile Phone:{{user.MobilePhone}}</h1>
        <h1>Landline:{{user.Landline}}</h1>
        <h1>Number of houses:{{user.houses}}</h1>
        <h1>Rate:{{user.rate}}</h1>
        <h1>Payrate:{{user.payrate}}</h1>
        <h1>Balance:{{user.outstanding_balance}}</h1>
    </div>
</div>  -->

<body style="
--bs-primary: #008751;
--bs-primary-rgb: 0, 135, 81;
--bs-secondary: #1f1f1f;
--bs-secondary-rgb: 31, 31, 31;
--bs-success: #31f99d;
--bs-success-rgb: 49, 249, 157;
">
    

{% if messages %}
<div class="alert alert-danger mt-4" role="alert" style="width: 80%;" id="wrapper">
    <div class="messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
</div>
{% endif %}

<section style="margin-left: 140px;">
  <div class="container pt-4">
    <div>
      <h1 class="fs-1 my-4" style="font-family: 'Montserrat', sans-serif;">Profile Page</h1>
      <h6 class="fs-6">
          Welcome to your Profile! You can pay bills by clicking on the payments button.
          <br><br><span class="fw-bold">Your outstanding balance is: 
            {% if user.outstanding_balance is none %}
            <span class="servicesUnderline">
        {{user.outstanding_balance}}.</span>
        {% else %}
            <span class="servicesUnderline">
        ₱ {{user.outstanding_balance}}.</span>
        {% endif%}
      </h6>
    </div>
    <div class="row">
        <div class="col-md-6 py-5 my-5" style="border-radius: 20px; border: 2px solid; height: 440px;">
          <div class="box fw-bold" style="padding-left: 130px;">
            <p class="px-3 text-white"style="background: gray; width: 180px; border-radius: 5px;">
              Your Personal Info
            </p>
          </div>
          <h1 class="fs-1 fw-bold text-center"><span class="servicesUnderline">{{user.username}}</span></h1>
          <div class="col py-3" style="padding-left: 170px;">
            <p>Username: {{user.username}}</p>
            <p>E-mail Address: {{user.email}}</p>
            <p>Mobile Phone: {{user.MobilePhone}}</p>
            <p>Landline: {{user.Landline}}</p>
            <p>Address: {{user.address}}</p>
          </div>
        </div>
        <div class="col-md-5 text-center mx-3 my-5" style="">
        {% comment %} Recent Transactions {% endcomment %}
          <div 
          class="text-light" 
          style="border-radius: 20px; background-color: rgb(20, 20, 20); border: none;">
            <div class="mx-3 py-3 mb-5">
              <h6 class="fs-6 fw-bold text-start">Recent transactions</h6>
                <div class="table-responsive">
                  <table class="table">
                      <thead>
                        <tr class="text-light" style="border: none;">
                          <th></th>
                          <th>Date</th>
                          <th>User</th>
                          <th>Amount</th>
                          <th>Transaction ID</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for payment in payments %}

                          {% if forloop.counter < 11  %}  

                          <tr class="text-light">
                              <td><i class="bi bi-currency-exchange"></i></td>
                              <td>{{payment.Date_paid}}</td>
                              <td>{{payment.User_who_Paid}}</td>
                              {% load humanize %}
                              <td>₱ {{payment.amount|intcomma}}</td>
                              <td>{{payment.id}}</td>
                            </tr>

                            {% endif %}
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

        




</body> 

{% endblock content %}