{% extends "main.html" %}


{% block content %}


{% comment %} ----------------------------------------------------------- {% endcomment %}
{% comment %} This page is the Profile Page {% endcomment %}
{% comment %} ----------------------------------------------------------- {% endcomment %}


{% include 'sidebar.html' %}

{% load static %}
<link rel="stylesheet" href=" {% static '/css/profile.css' %} ">
<link rel="stylesheet" href=" {% static '/css/about.css' %} ">

{% load static %}
{% comment %} <link rel="stylesheet" href="{% static '/css/dashboardstyle.css' %}"> {% endcomment %}
<link rel="stylesheet" href="{% static '/css/staffpagestyle.css' %}">

<meta name="description" content="List of Trucks">
<meta name="keywords" content="Truck List">
  
<style data-tag="default-style-sheet">
  html {
    font-family: Inter;
  }


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


</style>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
  data-tag="font"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
  data-tag="font"
/>
<!--This is the head section-->
<!-- <style> ... </style> -->
</head>

<style>
  .alert {
  width: 58%;
}


</style>



<body style="
--bs-primary: #008751;
--bs-primary-rgb: 0, 135, 81;
--bs-secondary: #1f1f1f;
--bs-secondary-rgb: 31, 31, 31;
--bs-success: #31f99d;
--bs-success-rgb: 49, 249, 157;
">
    

<!-- <h1> Dashboard</h1>
<div class="card">
    <div class="card-body">
        <h1>Name:{{user.username}}</h1>
        <h1>Adress:{{user.address}}</h1>
        <h1>Mobile Phone:{{user.MobilePhone}}</h1>
        <h1>Landline:{{user.Landline}}</h1>
        <h1>Number of houses:{{user.houses}}</h1>
        <h1>Rate:{{user.rate}}</h1>
        <h1>Payrate:{{user.payrate}}</h1>
        <h1>Balance:{{user.outstanding_balance}}</h1>
    </div>
</div>  -->
{% comment %} 
{% if messages %}
<div class="alert alert-danger mt-4" role="alert" style="width: 80%;" id="wrapper">
    <div class="messages">
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </div>
</div>
{% endif %} {% endcomment %}

<section class="dashboard-section">
  <div class="container dashboard-container">
    {% comment %} Row Dashboard {% endcomment %}
      <div class="row">
        <div class="col dashboard-content">
          <h1 class="fw-bold">
            Welcome, {{user.username}}!
          </h1>               
          <h6 style="text-shadow: 2px 2px 3px #656565; margin-top: 40px;">
            This page displays your transactions, providing you details about past payments. 
            If you want to change something on your account details, please <a style="text-decoration: none; color: yellow;" href="{% url 'contact_form' %}#Contact-Map" target="_blank">
              contact us</a> and we'll get it settled.
          </span>
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="row">
      {% comment %} LG Screens {% endcomment %}
      <div class="col-md-6 mx-auto text-white d-none d-lg-block ">
        <div class="credit-card1">
          <h6 style="margin-left: 20px;">
            Outstanding Balance:
          </h6>
          {% if user.outstanding_balance is none %}
          <div class="credit-card__number">{{user.outstanding_balance}}</div>
          {% else %}
          {% load humanize %}
          <div class="credit-card__number">₱ {{user.outstanding_balance|intcomma}}</div>
          {% endif%}
          <div class="credit-card__holder">Bosyo Garbage Collector</div>
        </div>
      </div>
    </div>
  </div>
</section>

{% comment %} <section class="d-none d-lg-block" style="margin-left: 40px;">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-md-6 my-5 text-white">
        <div class="credit-card1">
          <h6 style="margin-left: 20px;">
            Outstanding Balance:
          </h6>
          {% if user.outstanding_balance is none %}
          <div class="credit-card__number">{{user.outstanding_balance}}</div>
          {% else %}
          {% load humanize %}
          <div class="credit-card__number">₱ {{user.outstanding_balance|intcomma}}</div>
          {% endif%}
          <div class="credit-card__holder">Bosyo Garbage Collector</div>
        </div>
      </div>
      <div class="col-md-5 my-5 text-white">
        <div class="credit-card2">
          <h6 class="text-white" style="margin-left: 20px;">
            Monthly Bill:
          </h6>
          {% if user.rate is none %}
          <div class="credit-card__number">{{user.rate}}</div>
          {% else %}
          {% load humanize %}
          <div class="credit-card__number">₱ {{user.rate|intcomma}}</div>
          {% endif%}
          <div class="credit-card__holder">Bosyo Garbage Collector</div>
        </div>
      </div>
    </div>
  </div>
</section> {% endcomment %}


{% comment %} Payment History {% endcomment %}
<section class="transaction-history mb-5">
  <div class="container">
  <h6 class="h6-transactions fw-bold ms-4 mb-3">
    Transactions
  </h6>
    <div class="col-md-12 mx-auto" style="border-radius: 20px; background-color: #2f6f4f; border: none;">
      <div class="mx-3 py-3 mb-5">
        <h6 class="fw-bold text-start mb-5 mt-2 text-white">Payment History</h6>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="text-white" style="border: none;">
                <th>Date</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              {% for payment in payments %}
                {% if forloop.counter < 6 %}
                  <tr class="text-white" data-bs-toggle="modal" data-bs-target="#transactionModal{{ payment.transaction_id }}">
                    <td class="trow-click">
                      {{ payment.Date_paid }}</td>
                    {% load humanize %}
                    <td class="trow-click">₱ {{ payment.amount|intcomma }}</td>
                  </tr>
                  <!-- Transaction Modal -->
                  <div class="modal fade" id="transactionModal{{ payment.transaction_id }}" tabindex="-1" aria-labelledby="transactionModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content p-4">
                        <div class="modal-header">
                          <h6>
                            Transaction ID: {{ payment.transaction_id }}
                          </h6>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="text-center">
                            <img src="\static\images\BosyoLogoClear.png" class="mt-5 mb-4" style="width: 174px"></picture>
                          </div>
                          <h4 class="text-center theme-color mb-5">We appreciate your business -  thank you for choosing us.</h4>
                          <div class="d-flex justify-content-between">
                            <span class="font-weight-bold text-primary my-2">Garbage Hauling Service</span>
                          </div>
                          <div class="d-flex justify-content-between">
                            <small>Rate × No. Households</small>
                            <small>₱ {{ user.rate|intcomma }}</small>
                          </div>
                          <div class="d-flex justify-content-between mt-5 pt-5">
                            <h4>
                              <span class="font-weight-bold">Amount Paid</span>
                            </h4>
                            <h4>
                              <span class="font-weight-bold text-primary">₱ {{ payment.amount|intcomma }}</span>
                            </h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

</body> 

{% endblock content %}

